<template>
	<div class="contacts">
		<flash-message class="flash-msg" transitionName="fade-top"></flash-message>
		<div class="row">
			<div class="contacts--title col-xs-3 start-xs middle-xs row">
				<div>
					Sužinokite daugiau
					<div class="wave-icon col-xs-12" v-html="icons['wave']"></div>
				</div>
			</div>
			<div class="contacts--person col-lg-4 col-xs-12 center-xs middle-xs row">
				<div class="contacts--person--container center-xs middle-xs row">
					<div>
						<img style="width:50%" src="assets/vikas.png" />
						<div class="col-xs-12 contacts--person--name">
							Vikas Vikutauskas
						</div>
						<div class="col-xs-12 contacts--person--title">
							Jūsų vadybininkas
						</div>
						<div
							style="margin:20px 0"
							class="wave-icon col-xs-12"
							v-html="icons['wave']"
						></div>
						<div class="col-xs-12 contacts--person--info">
							+370 616 66776 <br />
							<a href="mailto:vikas@ntprojektai.lt" style="color:inherit"
								>vikas@ntprojektai.lt</a
							>
						</div>
					</div>
				</div>
			</div>
			<div
				class="contacts--contact-form col-lg-5 col-xs-6 col-xs-12 row start-xs"
			>
				<div class="col-xs-12 contacts--contact-form--title">
					Noriu kraustytis
				</div>
				<div
					style="padding-left:0; margin-bottom: 10px"
					class="wave-icon col-xs-12 animate"
					v-html="icons['wave-white']"
				></div>
				<input
					v-model="message.name"
					type="text"
					name="name"
					placeholder="Vardas Pavardė"
				/>
				<input
					v-model="message.email"
					type="text"
					name="email"
					placeholder="El. paštas"
				/>
				<input
					v-model="message.phone"
					type="text"
					name="phone"
					placeholder="Telefonas"
				/>
				<div style="margin-top: 10px" class="row checkbox middle-xs">
					<input
						v-model="message.agree"
						style="width: 20px"
						type="checkbox"
						name="checkbox"
					/>
					<div
						@click="agree = !agree"
						class="checkbox-box row middle-xs center-xs"
					>
						<div v-if="agree" v-html="icons['check']"></div>
					</div>
					<div @click="agree = !agree" class="col-xs middle-xs checkbox--text">
						Susipažinau ir sutinku su
						<div style="text-decoration:underline; display:inline-block">
							<a @click.stop style="color:inherit" href="/privatumo-politika"
								>privatumo politika</a
							>
						</div>
					</div>
				</div>
				<div class="row checkbox middle-xs">
					<input
						v-model="message.proposal"
						style="width: 20px"
						type="checkbox"
						name="checkbox"
					/>
					<div
						@click="proposition = !proposition"
						class="checkbox-box row middle-xs center-xs"
					>
						<div v-if="proposition" v-html="icons['check']"></div>
					</div>
					<div
						@click="proposition = !proposition"
						class="col-xs middle-xs checkbox--text"
					>
						Noriu gauti pasiūlymą
					</div>
				</div>
				<mainButton
					@on-click="send"
					style="margin-top: 40px; opacity: 0"
					text="Siųsti"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from "vue";
const axios = require("axios");
import VueFlashMessage from "vue-flash-message";
import mainButton from "./mainButton";
import anime from "animejs";
Vue.use(VueFlashMessage);
require("vue-flash-message/dist/vue-flash-message.min.css");

export default {
	props: {
		contactView: {
			type: Number,
		},
	},
	components: { mainButton },
	watch: {
		contactView(val) {
			if (val) {
				this.fireAnim();
			}
		},
	},
	data() {
		return {
			agree: false,
			fired: false,
			proposition: false,
			message: {
				name: null,
				email: null,
				phone: null,
			},
			icons: {
				check:
					'<svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>',
				"wave-white":
					' <svg width="36px" height="5px" viewBox="0 0 36 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-952.000000, -4316.000000)" fill="#FFFFFF"> <path d="M988,4321 L987.312977,4321 C985.470382,4321 983.856427,4320.00411 982.984733,4318.52384 C982.113038,4320.00411 980.499084,4321 978.656489,4321 C976.813893,4321 975.199939,4320.00411 974.328244,4318.52384 C973.45655,4320.00411 971.842595,4321 970,4321 C968.157405,4321 966.54345,4320.00411 965.671756,4318.52384 C964.800061,4320.00411 963.186107,4321 961.343511,4321 C959.500916,4321 957.886962,4320.00411 957.015267,4318.52384 C956.143573,4320.00411 954.529618,4321 952.687023,4321 L952,4321 L952,4319.63014 L952.687023,4319.63014 C954.694779,4319.63014 956.328244,4318.00164 956.328244,4316 L957.70229,4316 C957.70229,4318.00164 959.335756,4319.63014 961.343511,4319.63014 C963.351267,4319.63014 964.984733,4318.00164 964.984733,4316 L966.358779,4316 C966.358779,4318.00164 967.992244,4319.63014 970,4319.63014 C972.007756,4319.63014 973.641221,4318.00164 973.641221,4316 L975.015267,4316 C975.015267,4318.00164 976.648733,4319.63014 978.656489,4319.63014 C980.664244,4319.63014 982.29771,4318.00164 982.29771,4316 L983.671756,4316 C983.671756,4318.00164 985.305221,4319.63014 987.312977,4319.63014 L988,4319.63014 L988,4321 Z" id="Fill-17-Copy-4"></path> </g> </g> </svg>',
				wave:
					'<svg width="67px" height="9px" viewBox="0 0 67 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-740.000000, -882.000000)" fill="#C1A47A"> <path d="M807,891 L805.721374,891 C802.292099,891 799.288351,889.207397 797.666031,886.542904 C796.04371,889.207397 793.039962,891 789.610687,891 C786.181412,891 783.177664,889.207397 781.555344,886.542904 C779.933023,889.207397 776.929275,891 773.5,891 C770.070725,891 767.066977,889.207397 765.444656,886.542904 C763.822336,889.207397 760.818588,891 757.389313,891 C753.960038,891 750.95629,889.207397 749.333969,886.542904 C747.711649,889.207397 744.707901,891 741.278626,891 L740,891 L740,888.534247 L741.278626,888.534247 C745.015282,888.534247 748.055344,885.602959 748.055344,882 L750.612595,882 C750.612595,885.602959 753.652656,888.534247 757.389313,888.534247 C761.125969,888.534247 764.166031,885.602959 764.166031,882 L766.723282,882 C766.723282,885.602959 769.763344,888.534247 773.5,888.534247 C777.236656,888.534247 780.276718,885.602959 780.276718,882 L782.833969,882 C782.833969,885.602959 785.874031,888.534247 789.610687,888.534247 C793.347344,888.534247 796.387405,885.602959 796.387405,882 L798.944656,882 C798.944656,885.602959 801.984718,888.534247 805.721374,888.534247 L807,888.534247 L807,891 Z" id="Fill-17-Copy"></path> </g> </g> </svg>',
			},
		};
	},
	methods: {
		fireAnim() {
			if (this.fired) return;
			const self = this;
			self.fired = true;
			anime({
				targets:
					"input, .checkbox, .contacts .main-button, .contacts--contact-form--title, .wave-icon.animate",
				translateY: [-50, 0],
				opacity: [0, 1],
				easing: "easeInOutSine",
				duration: 1500,
				delay: function(el, i) {
					return i * 40;
				},
				complete() {},
			});
			anime({
				targets: ".contacts--title",
				translateY: [-50, 0],
				opacity: [0, 1],
				scale: [1.25, 1],
				easing: "easeInOutSine",
				duration: 1000,
				complete() {},
			});
		},
		clearFields() {
			for (let key in this.message) {
				this.message[key] = null;
			}
			this.agree = null;
			this.proposition = null;
		},
		send() {
			const self = this;
			if (
				!this.message.name ||
				!this.message.email ||
				!this.message.phone ||
				!this.agree
			) {
				this.flash("Užpildykite visus laukus", "error", { timeout: 3000 });
			} else {
				axios
					.post("/api/sendMessage", {
						message: this.message,
						proposition: this.proposition,
					})
					.then(function(response) {
						if (response.data.success) {
							self.flash("Žinutė buvo sėkmingai išssiųsta", "success", {
								timeout: 3000,
							});
							self.clearFields();
						}
					});
			}
		},
	},
};
</script>

<style scoped lang="scss">
.contacts {
	margin-top: 250px !important;
	max-width: 1350px !important;
	&--title {
		opacity: 0;
		font-size: 48px;
		line-height: 58px;
		margin-top: -150px;
	}
	&--person {
		position: relative;
		&--container {
			position: absolute;
			z-index: -1;
			background: #fff;
			height: 636px;
			width: 814px;
		}
		&--name {
			font-size: 20px;
			margin-top: 20px;
		}
		&--title {
			font-size: 10px;
			margin-top: 6px;
			text-transform: uppercase;
		}
		&--info {
			font-size: 14px;
		}
		&:before {
			content: "";
			background-image: url("/assets/arrow-vertical.png");
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 10px;
		}
	}
	&--contact-form {
		background: #c1a47a;
		padding: 80px 120px;
		&--title {
			font-size: 20px;
			padding: 0;
			opacity: 0;
		}
		.checkbox {
			opacity: 0;
			font-size: 11px;
			margin: 4px 0;
			cursor: pointer;
			input {
				opacity: 0;
				visibility: 0;
				position: absolute;
				left: -99999px;
			}
			&-box {
				border: 1px solid rgba(48, 71, 94, 0.3);
				width: 20px;
				height: 20px;
			}
			&--text {
				padding-left: 10px;
			}
		}
		input {
			width: 100%;
			margin: 10px 0;
			background: transparent;
			border: 0;
			border-bottom: 1px solid rgba(48, 71, 94, 0.3);
			color: #30475e;
			font-size: 14px;
			padding: 0.5em 0;
			font-family: Coconat-Regular;
			&:focus {
				outline: none;
			}
		}
	}
}
.wave-icon.animate {
	opacity: 0;
}
.flash-msg {
	transition: 1s all ease;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 10000000;
}
.fade-top-item {
	display: inline-block;
	margin-right: 10px;
}
.fade-top-enter-active,
.fade-top-leave-active {
	transition: all 0.3s;
}
.fade-top-enter, .fade-top-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(-10px);
}
input {
	opacity: 0;
}
@media only screen and (max-width: 1200px) {
	.contacts {
		position: relative;
		max-width: 800px !important;
		margin-top: 100px !important;
		&--title {
			font-size: 30px;
			line-height: 36px;
			padding: 10px 30px;
			position: absolute;
			top: 120px;
		}
		&--contact-form {
			padding: 40px 40px;
		}
		&--person {
			padding: 0;
			&:before {
				content: "";
				background-image: none !important;
			}
			&--container {
				width: 100%;
				padding: 0;
				position: relative;
			}
			&--name {
				font-size: 20px;
				margin-top: 20px;
			}
			&--title {
				font-size: 10px;
				margin-top: 6px;
				text-transform: uppercase;
			}
			&--info {
				font-size: 14px;
			}
		}
		.wave-icon {
			padding-left: 0;
		}
	}
}
</style>
