<template>
	<div class="footer row bottom-xs">
		<div class="col-sm col-xs-12 start-xs column bank-proposals">
			<div class="row col-xs pasiulymai" style="margin-bottom: 30px">
				<div class="col-xs line">
					Bankų pasiūlymai:
				</div>
			</div>
			<div class="row col-sm-11 col-xs-8 line">
				<div class="col-xs">
					<img src="/assets/seb.svg" />
				</div>
				<div class="col-xs line">
					<div v-html="icons['luminor']"></div>
				</div>
			</div>
		</div>
		<div class="col-sm col-xs-12 row start-xs center-sm column social">
			<div class="icon row middle-xs center-xs">
				<div
					class="row middle-xs center-xs"
					v-html="icons['facebook']"
				></div>
			</div>
			<div class="icon row middle-xs center-xs">
				<img src="assets/insta.svg" />
			</div>
		</div>
		<div class="col-sm col-xs-12 row start-xs column">
			<div class="row col-xs-12">
				Marių panoramos.
			</div>
			<div class="row col-xs-12">
				Visos teisės saugomos 2020.
			</div>
			<div class="row col-xs-12">
				<a href="">Privatumo politika.</a>
			</div>
		</div>
		<div class="col-xs row start-xs column top-xs">
			<div class="row col-xs-12 topx">
				Architektūra:
				<a href="http://www.doarchitects.lt" target="_blank">
					DO ARCHITECTS</a
				>
			</div>
			<div class="row col-xs-12">
				Dizainas:
				<a href="http://westcoast.lt/" target="_blank"> WESTCOAST</a>
			</div>
			<!-- <div class="row col-xs-12">
				Programavimas: <a href=""> Aurelijus Ušeckas</a>
			</div> -->
		</div>
	</div>
</template>

<script>
export default {
	props: {},
	data() {
		return {
			icons: {
				facebook:
					' <svg width="9px" height="17px" viewBox="0 0 9 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-508.000000, -4916.000000)" fill="#30475E"> <g id="facebook-logo" transform="translate(508.000000, 4916.000000)"> <path d="M8.9998199,2.82187951 L7.36849899,2.82258618 C6.0894483,2.82258618 5.84181458,3.41883255 5.84181458,4.29385723 L5.84181458,6.22322217 L8.89230184,6.22322217 L8.89122126,9.2452638 L5.84181458,9.2452638 L5.84181458,17 L2.66003642,17 L2.66003642,9.2452638 L0,9.2452638 L0,6.22322217 L2.66003642,6.22322217 L2.66003642,3.99476238 C2.66003642,1.40837811 4.27064615,0 6.62271627,0 L9,0.00370997745 L8.9998199,2.82187951 Z" id="Path"></path> </g> </g> </g> </svg>',
				instagram: "",
				luminor:
					' <svg width="100px" height="21px" viewBox="0 0 100 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-207.000000, -4938.000000)" fill="#30475E"> <path d="M275.591661,4945.77778 C272.07523,4945.77778 271.160192,4947.87954 271.160192,4947.87954 L270.030766,4946.11236 L267.655738,4946.11236 L267.655738,4959 L271.339846,4959 L271.339846,4952.60849 C271.339846,4950.9287 271.882401,4949.84907 272.729171,4949.33053 C273.144771,4949.07758 273.807096,4948.94996 274.437084,4948.94996 C276.559398,4948.94996 277.086384,4950.11352 277.086384,4952.01752 L277.086384,4959 L280.770492,4959 L280.770492,4950.97699 C280.770492,4947.37709 278.908077,4945.77778 275.591661,4945.77778 Z M289.347318,4955.88889 C287.227281,4955.88889 285.688525,4954.25308 285.688525,4952.00059 C285.688525,4949.78361 287.266114,4948.11111 289.347318,4948.11111 C291.467355,4948.11111 293.065574,4949.78361 293.065574,4952.00059 C293.065574,4954.25782 291.502547,4955.88889 289.347318,4955.88889 Z M289.771187,4945.77778 C287.584276,4945.77778 285.714957,4946.45015 284.368516,4947.73438 C283.105397,4948.93457 282.409836,4950.58749 282.409836,4952.38945 C282.409836,4954.19141 283.105397,4955.84321 284.368516,4957.04339 C285.714957,4958.32426 287.584276,4959 289.771187,4959 C294.118441,4959 297.163934,4956.28249 297.163934,4952.38833 C297.163934,4948.49417 294.123271,4945.77778 289.771187,4945.77778 Z M260.278689,4940.72461 L263.150689,4943.44444 L266.016393,4940.72461 L263.150689,4938 L260.278689,4940.72461 Z M302.286021,4947.88056 L301.162056,4946.11445 L298.803279,4946.11445 L298.803279,4959 L302.47315,4959 L302.47315,4954.13833 C302.47315,4952.45956 302.797348,4951.41391 303.835496,4950.51305 C305.164468,4949.36399 307,4949.38353 307,4949.38353 L307,4945.77778 C303.069102,4945.77778 302.288405,4947.88056 302.288405,4947.88056 L302.286021,4947.88056 Z M210.824937,4940.33333 L207,4940.33333 L207,4958.22222 L220.114754,4958.22222 L220.114754,4954.58072 L210.824937,4954.58072 L210.824937,4940.33333 Z M231.188527,4952.16528 C231.188527,4953.84493 230.645823,4954.92446 229.797623,4955.44411 C229.380711,4955.69588 228.719402,4955.82349 228.09044,4955.82349 C225.966346,4955.82349 225.439216,4954.66004 225.439216,4952.75506 L225.439216,4945.77778 L221.754098,4945.77778 L221.754098,4953.79665 C221.754098,4957.39623 223.618222,4959 226.934348,4959 C230.452941,4959 231.367032,4956.89842 231.367032,4956.89842 L232.494372,4958.66545 L234.868852,4958.66545 L234.868852,4945.77778 L231.188527,4945.77778 L231.188527,4952.16528 Z M254.666346,4945.78582 C251.200613,4945.78582 250.181496,4947.71969 250.171685,4947.73922 L250.094424,4947.89205 L249.995087,4947.75071 C249.063043,4946.43044 247.722616,4945.78697 245.486936,4945.78697 C242.021203,4945.78697 241.000859,4947.72084 240.992275,4947.74037 L240.915013,4947.88975 L239.759769,4946.12364 L237.327869,4946.12364 L237.327869,4959 L241.101422,4959 L241.101422,4952.61238 C241.101422,4950.11777 242.012618,4948.95608 243.972364,4948.95608 C245.702778,4948.95608 246.509732,4949.92128 246.509732,4951.99419 L246.509732,4959 L250.27838,4959 L250.27838,4952.5308 C250.27838,4950.09364 251.172406,4948.95952 253.089229,4948.95952 C254.204003,4948.95952 255.68669,4949.27781 255.68669,4952.02521 L255.68669,4959 L259.459016,4959 L259.459016,4950.98187 C259.459016,4947.38416 257.959161,4945.77778 254.663894,4945.77778 L254.666346,4945.78582 Z M261.098361,4959 L265.196721,4959 L265.196721,4945.77778 L261.098361,4945.77778 L261.098361,4959 Z" id="Fill-1"></path> </g> </g> </svg>',
				seb:
					' <svg width="64px" height="26px" viewBox="0 0 64 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <polygon id="path-1" points="0 26 64 26 64 0 0 0"></polygon> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-100.000000, -4937.000000)"> <g id="Group-8" transform="translate(100.000000, 4937.000000)"> <path d="M0,18.6264717 L3.72230673,16.1366027 C6.32676103,18.1693712 8.14987905,18.4611463 9.66917476,18.4611463 C11.405539,18.4611463 13.033323,18.1304128 13.2503915,17.245348 C13.4131239,16.5450878 12.7620103,15.9810168 11.2753163,15.6697626 C9.59319616,15.3293721 8.18248078,15.037597 6.59807371,14.6679877 C2.31149925,13.6564733 1.09602584,11.4292431 1.09602584,9.42569341 C1.09602584,6.66352851 3.97188491,3.82352941 9.21339526,3.82352941 C14.5959956,3.82352941 17.7431673,6.58569431 17.7431673,6.58569431 L14.2270619,8.93937411 C12.5666762,7.65556377 10.4288687,7.41240412 9.24599698,7.41240412 C8.05225806,7.41240412 6.80427502,7.71391879 6.60894095,8.48227358 C6.42438202,9.23114918 7.19494317,9.80495974 8.52967995,10.1356932 C10.0382005,10.4955629 11.4272735,10.8164742 13.5433466,11.3611485 C16.7012935,12.1683791 18.8717949,13.393917 18.8717949,16.2435731 C18.8717949,20.1534417 14.9975309,22.1764706 9.78853023,22.1764706 C4.59039677,22.1764706 1.06351621,19.7546962 0,18.6264717" id="Fill-1" fill="#30475E"></path> <mask id="mask-2" fill="white"> <use xlink:href="#path-1"></use> </mask> <g id="Clip-4"></g> <polygon id="Fill-3" fill="#30475E" mask="url(#mask-2)" points="20.5128205 26 21.3333333 26 21.3333333 0 20.5128205 0"></polygon> <polygon id="Fill-5" fill="#30475E" mask="url(#mask-2)" points="23.7948718 21.4117647 23.7948718 3.82352941 39.1090409 3.82352941 39.1090409 7.84557476 29.1680341 7.84557476 29.1680341 10.6503863 36.2051661 10.6503863 36.2051661 14.5263933 29.1680341 14.5263933 29.1680341 17.3604621 39.3846154 17.3604621 39.3846154 21.4117647"></polygon> <polygon id="Fill-6" fill="#30475E" mask="url(#mask-2)" points="41.8461538 26 42.6666667 26 42.6666667 0 41.8461538 0"></polygon> <path d="M51.2949264,10.566487 L55.5299213,10.566487 C56.5153438,10.566487 57.3015823,9.84540352 57.3015823,9.0269076 C57.3015823,8.1986539 56.5153438,7.47757041 55.5299213,7.47757041 L51.2949264,7.47757041 L51.2949264,10.566487 M51.2949264,17.5043522 L56.4838515,17.5043522 C57.4063785,17.5043522 58.1506274,16.8124593 58.1506274,15.896551 C58.1506274,14.9903177 57.4063785,14.2985076 56.4838515,14.2985076 L51.2949264,14.2985076 L51.2949264,17.5043522 M45.9487179,21.4117647 L45.9487179,3.82352941 L57.0709061,3.82352941 C60.2681693,3.82352941 62.8573832,5.55801637 62.8573832,8.27663346 C62.8573832,10.4300435 61.431781,11.6870607 60.1423783,12.1645304 C60.1423783,12.1645304 60.0584879,12.184046 59.9221994,12.1937211 C60.0584879,12.2034789 60.1423783,12.2229944 60.1423783,12.2229944 C62.3857112,12.8856139 64,14.39592 64,16.6760985 C64,19.5895404 61.358388,21.4117647 58.1087267,21.4117647 L45.9487179,21.4117647" id="Fill-7" fill="#30475E" mask="url(#mask-2)"></path> </g> </g> </g> </svg>',
			},
		};
	},
};
</script>

<style scoped lang="scss">
.footer {
	max-width: 1300px !important;
	font-size: 12px;
	padding-top: 100px;
	padding-bottom: 50px;
	.column {
		line-height: 20px;
		a {
			display: block;
			margin-left: 3px;
		}
	}
}
.icon {
	width: 53px;
	height: 53px;
	border: 1px solid rgba(48, 71, 94, 0.3);
	margin: 0 5px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		transition: all 0.3s ease;
		background: rgba(48, 71, 94, 0.3);
		svg {
			stroke: #fff;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.footer {
		padding-top: 0px;
		padding: 0 30px;
		.pasiulymai {
			padding-left: 0;
		}
		.bank-proposals {
			padding-left: 0;
			.line {
				padding-left: 0;
				> .col-xs {
					padding-left: 0;
				}
			}
		}
		.column {
			margin: 20px 0;
		}
		.social {
			margin-left: -5px;
		}
	}
}
</style>
