<template>
	<div
		:style="{
			background: !noBg ? '#fff' : null,
		}"
		class="layerTextContent row start-xs"
	>
		<div class="layerTextContent--title col-xs-12">
			{{ title }}
		</div>
		<div
			class="layerTextContent--wave-icon col-xs-12"
			v-html="icons['wave']"
		></div>
		<div v-html="content" class="layerTextContent--content col-xs-12"></div>
		<div
			v-if="!noIconsAndButton"
			class="row col-xs-12 start-xs"
			v-html="icons['line']"
			style="margin-top:20px; padding:0"
		></div>
		<div
			v-if="!noIconsAndButton"
			class="layerTextContent--icons row between-xs middle-xs"
			style="padding:0; font-size: 10px; line-height: 14px;"
		>
			<div
				class="col-sm-4 col-xs-12 item"
				v-for="item of includeIcons"
				style="padding:0"
			>
				<div class="row middle-xs">
					<div
						class="col-xs-2 center-xs middle-xs row"
						style="width:150px"
					>
						<img :src="`/storage/app/media${item.icons}`" />
					</div>
					<div
						class="col-xs-9"
						v-html="item.text"
						style="text-transform: uppercase; padding:0; margin-left:1em"
					></div>
				</div>
			</div>
		</div>
		<div
			v-if="!noIconsAndButton"
			class="row col-xs-12"
			style="padding:0"
			v-html="icons['line']"
		></div>
		<mainButton
			@on-click="gotoLink"
			v-if="!noIconsAndButton"
			style="margin-top:30px"
		/>
	</div>
</template>

<script>
import mainButton from "./mainButton";

export default {
	name: "layerTextContent",
	props: {
		noIconsAndButton: {
			type: Boolean,
			default: false,
		},
		noBg: {
			type: Boolean,
			default: false,
		},
		title: {
			type: String,
		},
		content: {
			type: String,
		},
		link: {
			type: String,
		},
		includeIcons: {
			type: Object,
		},
	},
	components: { mainButton },
	data() {
		return {
			icons: {
				line:
					'<svg width="100%" height="8px" viewBox="0 0 536 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-739.000000, -1194.000000)" fill="#C1A47A" fill-rule="nonzero"> <path id="Line" d="M1272.76104,1197.85 L1267.59285,1194.94289 L1267.37496,1194.82033 L1267.62009,1194.38454 L1267.83798,1194.50711 L1273.83798,1197.88211 L1274.22535,1198.1 L1273.83798,1198.31789 L1267.83798,1201.69289 L1267.62009,1201.81546 L1267.37496,1201.37967 L1267.59285,1201.25711 L1272.76104,1198.35 L1270.09041,1198.35 L1269.84041,1198.35 L1269.84041,1197.85 L1270.09041,1197.85 L1272.76104,1197.85 Z M740.023637,1198.1 L745.63627,1201.25711 L745.854164,1201.37967 L745.609033,1201.81546 L745.391139,1201.69289 L739.391139,1198.31789 L739.003772,1198.1 L739.391139,1197.88211 L745.391139,1194.50711 L745.609033,1194.38454 L745.854164,1194.82033 L745.63627,1194.94289 L740.023637,1198.1 Z M1267.09041,1197.85 L1267.34041,1197.85 L1267.34041,1198.35 L1267.09041,1198.35 L1264.09041,1198.35 L1263.84041,1198.35 L1263.84041,1197.85 L1264.09041,1197.85 L1267.09041,1197.85 Z M1261.09041,1197.85 L1261.34041,1197.85 L1261.34041,1198.35 L1261.09041,1198.35 L1258.09041,1198.35 L1257.84041,1198.35 L1257.84041,1197.85 L1258.09041,1197.85 L1261.09041,1197.85 Z M1255.09041,1197.85 L1255.34041,1197.85 L1255.34041,1198.35 L1255.09041,1198.35 L1252.09041,1198.35 L1251.84041,1198.35 L1251.84041,1197.85 L1252.09041,1197.85 L1255.09041,1197.85 Z M1249.09041,1197.85 L1249.34041,1197.85 L1249.34041,1198.35 L1249.09041,1198.35 L1246.09041,1198.35 L1245.84041,1198.35 L1245.84041,1197.85 L1246.09041,1197.85 L1249.09041,1197.85 Z M1243.09041,1197.85 L1243.34041,1197.85 L1243.34041,1198.35 L1243.09041,1198.35 L1240.09041,1198.35 L1239.84041,1198.35 L1239.84041,1197.85 L1240.09041,1197.85 L1243.09041,1197.85 Z M1237.09041,1197.85 L1237.34041,1197.85 L1237.34041,1198.35 L1237.09041,1198.35 L1234.09041,1198.35 L1233.84041,1198.35 L1233.84041,1197.85 L1234.09041,1197.85 L1237.09041,1197.85 Z M1231.09041,1197.85 L1231.34041,1197.85 L1231.34041,1198.35 L1231.09041,1198.35 L1228.09041,1198.35 L1227.84041,1198.35 L1227.84041,1197.85 L1228.09041,1197.85 L1231.09041,1197.85 Z M1225.09041,1197.85 L1225.34041,1197.85 L1225.34041,1198.35 L1225.09041,1198.35 L1222.09041,1198.35 L1221.84041,1198.35 L1221.84041,1197.85 L1222.09041,1197.85 L1225.09041,1197.85 Z M1219.09041,1197.85 L1219.34041,1197.85 L1219.34041,1198.35 L1219.09041,1198.35 L1216.09041,1198.35 L1215.84041,1198.35 L1215.84041,1197.85 L1216.09041,1197.85 L1219.09041,1197.85 Z M1213.09041,1197.85 L1213.34041,1197.85 L1213.34041,1198.35 L1213.09041,1198.35 L1210.09041,1198.35 L1209.84041,1198.35 L1209.84041,1197.85 L1210.09041,1197.85 L1213.09041,1197.85 Z M1207.09041,1197.85 L1207.34041,1197.85 L1207.34041,1198.35 L1207.09041,1198.35 L1204.09041,1198.35 L1203.84041,1198.35 L1203.84041,1197.85 L1204.09041,1197.85 L1207.09041,1197.85 Z M1201.09041,1197.85 L1201.34041,1197.85 L1201.34041,1198.35 L1201.09041,1198.35 L1198.09041,1198.35 L1197.84041,1198.35 L1197.84041,1197.85 L1198.09041,1197.85 L1201.09041,1197.85 Z M1195.09041,1197.85 L1195.34041,1197.85 L1195.34041,1198.35 L1195.09041,1198.35 L1192.09041,1198.35 L1191.84041,1198.35 L1191.84041,1197.85 L1192.09041,1197.85 L1195.09041,1197.85 Z M1189.09041,1197.85 L1189.34041,1197.85 L1189.34041,1198.35 L1189.09041,1198.35 L1186.09041,1198.35 L1185.84041,1198.35 L1185.84041,1197.85 L1186.09041,1197.85 L1189.09041,1197.85 Z M1183.09041,1197.85 L1183.34041,1197.85 L1183.34041,1198.35 L1183.09041,1198.35 L1180.09041,1198.35 L1179.84041,1198.35 L1179.84041,1197.85 L1180.09041,1197.85 L1183.09041,1197.85 Z M1177.09041,1197.85 L1177.34041,1197.85 L1177.34041,1198.35 L1177.09041,1198.35 L1174.09041,1198.35 L1173.84041,1198.35 L1173.84041,1197.85 L1174.09041,1197.85 L1177.09041,1197.85 Z M1171.09041,1197.85 L1171.34041,1197.85 L1171.34041,1198.35 L1171.09041,1198.35 L1168.09041,1198.35 L1167.84041,1198.35 L1167.84041,1197.85 L1168.09041,1197.85 L1171.09041,1197.85 Z M1165.09041,1197.85 L1165.34041,1197.85 L1165.34041,1198.35 L1165.09041,1198.35 L1162.09041,1198.35 L1161.84041,1198.35 L1161.84041,1197.85 L1162.09041,1197.85 L1165.09041,1197.85 Z M1159.09041,1197.85 L1159.34041,1197.85 L1159.34041,1198.35 L1159.09041,1198.35 L1156.09041,1198.35 L1155.84041,1198.35 L1155.84041,1197.85 L1156.09041,1197.85 L1159.09041,1197.85 Z M1153.09041,1197.85 L1153.34041,1197.85 L1153.34041,1198.35 L1153.09041,1198.35 L1150.09041,1198.35 L1149.84041,1198.35 L1149.84041,1197.85 L1150.09041,1197.85 L1153.09041,1197.85 Z M1147.09041,1197.85 L1147.34041,1197.85 L1147.34041,1198.35 L1147.09041,1198.35 L1144.09041,1198.35 L1143.84041,1198.35 L1143.84041,1197.85 L1144.09041,1197.85 L1147.09041,1197.85 Z M1141.09041,1197.85 L1141.34041,1197.85 L1141.34041,1198.35 L1141.09041,1198.35 L1138.09041,1198.35 L1137.84041,1198.35 L1137.84041,1197.85 L1138.09041,1197.85 L1141.09041,1197.85 Z M1135.09041,1197.85 L1135.34041,1197.85 L1135.34041,1198.35 L1135.09041,1198.35 L1132.09041,1198.35 L1131.84041,1198.35 L1131.84041,1197.85 L1132.09041,1197.85 L1135.09041,1197.85 Z M1129.09041,1197.85 L1129.34041,1197.85 L1129.34041,1198.35 L1129.09041,1198.35 L1126.09041,1198.35 L1125.84041,1198.35 L1125.84041,1197.85 L1126.09041,1197.85 L1129.09041,1197.85 Z M1123.09041,1197.85 L1123.34041,1197.85 L1123.34041,1198.35 L1123.09041,1198.35 L1120.09041,1198.35 L1119.84041,1198.35 L1119.84041,1197.85 L1120.09041,1197.85 L1123.09041,1197.85 Z M1117.09041,1197.85 L1117.34041,1197.85 L1117.34041,1198.35 L1117.09041,1198.35 L1114.09041,1198.35 L1113.84041,1198.35 L1113.84041,1197.85 L1114.09041,1197.85 L1117.09041,1197.85 Z M1111.09041,1197.85 L1111.34041,1197.85 L1111.34041,1198.35 L1111.09041,1198.35 L1108.09041,1198.35 L1107.84041,1198.35 L1107.84041,1197.85 L1108.09041,1197.85 L1111.09041,1197.85 Z M1105.09041,1197.85 L1105.34041,1197.85 L1105.34041,1198.35 L1105.09041,1198.35 L1102.09041,1198.35 L1101.84041,1198.35 L1101.84041,1197.85 L1102.09041,1197.85 L1105.09041,1197.85 Z M1099.09041,1197.85 L1099.34041,1197.85 L1099.34041,1198.35 L1099.09041,1198.35 L1096.09041,1198.35 L1095.84041,1198.35 L1095.84041,1197.85 L1096.09041,1197.85 L1099.09041,1197.85 Z M1093.09041,1197.85 L1093.34041,1197.85 L1093.34041,1198.35 L1093.09041,1198.35 L1090.09041,1198.35 L1089.84041,1198.35 L1089.84041,1197.85 L1090.09041,1197.85 L1093.09041,1197.85 Z M1087.09041,1197.85 L1087.34041,1197.85 L1087.34041,1198.35 L1087.09041,1198.35 L1084.09041,1198.35 L1083.84041,1198.35 L1083.84041,1197.85 L1084.09041,1197.85 L1087.09041,1197.85 Z M1081.09041,1197.85 L1081.34041,1197.85 L1081.34041,1198.35 L1081.09041,1198.35 L1078.09041,1198.35 L1077.84041,1198.35 L1077.84041,1197.85 L1078.09041,1197.85 L1081.09041,1197.85 Z M1075.09041,1197.85 L1075.34041,1197.85 L1075.34041,1198.35 L1075.09041,1198.35 L1072.09041,1198.35 L1071.84041,1198.35 L1071.84041,1197.85 L1072.09041,1197.85 L1075.09041,1197.85 Z M1069.09041,1197.85 L1069.34041,1197.85 L1069.34041,1198.35 L1069.09041,1198.35 L1066.09041,1198.35 L1065.84041,1198.35 L1065.84041,1197.85 L1066.09041,1197.85 L1069.09041,1197.85 Z M1063.09041,1197.85 L1063.34041,1197.85 L1063.34041,1198.35 L1063.09041,1198.35 L1060.09041,1198.35 L1059.84041,1198.35 L1059.84041,1197.85 L1060.09041,1197.85 L1063.09041,1197.85 Z M1057.09041,1197.85 L1057.34041,1197.85 L1057.34041,1198.35 L1057.09041,1198.35 L1054.09041,1198.35 L1053.84041,1198.35 L1053.84041,1197.85 L1054.09041,1197.85 L1057.09041,1197.85 Z M1051.09041,1197.85 L1051.34041,1197.85 L1051.34041,1198.35 L1051.09041,1198.35 L1048.09041,1198.35 L1047.84041,1198.35 L1047.84041,1197.85 L1048.09041,1197.85 L1051.09041,1197.85 Z M1045.09041,1197.85 L1045.34041,1197.85 L1045.34041,1198.35 L1045.09041,1198.35 L1042.09041,1198.35 L1041.84041,1198.35 L1041.84041,1197.85 L1042.09041,1197.85 L1045.09041,1197.85 Z M1039.09041,1197.85 L1039.34041,1197.85 L1039.34041,1198.35 L1039.09041,1198.35 L1036.09041,1198.35 L1035.84041,1198.35 L1035.84041,1197.85 L1036.09041,1197.85 L1039.09041,1197.85 Z M1033.09041,1197.85 L1033.34041,1197.85 L1033.34041,1198.35 L1033.09041,1198.35 L1030.09041,1198.35 L1029.84041,1198.35 L1029.84041,1197.85 L1030.09041,1197.85 L1033.09041,1197.85 Z M1027.09041,1197.85 L1027.34041,1197.85 L1027.34041,1198.35 L1027.09041,1198.35 L1024.09041,1198.35 L1023.84041,1198.35 L1023.84041,1197.85 L1024.09041,1197.85 L1027.09041,1197.85 Z M1021.09041,1197.85 L1021.34041,1197.85 L1021.34041,1198.35 L1021.09041,1198.35 L1018.09041,1198.35 L1017.84041,1198.35 L1017.84041,1197.85 L1018.09041,1197.85 L1021.09041,1197.85 Z M1015.09041,1197.85 L1015.34041,1197.85 L1015.34041,1198.35 L1015.09041,1198.35 L1012.09041,1198.35 L1011.84041,1198.35 L1011.84041,1197.85 L1012.09041,1197.85 L1015.09041,1197.85 Z M1009.09041,1197.85 L1009.34041,1197.85 L1009.34041,1198.35 L1009.09041,1198.35 L1006.09041,1198.35 L1005.84041,1198.35 L1005.84041,1197.85 L1006.09041,1197.85 L1009.09041,1197.85 Z M1003.09041,1197.85 L1003.34041,1197.85 L1003.34041,1198.35 L1003.09041,1198.35 L1000.09041,1198.35 L999.840415,1198.35 L999.840415,1197.85 L1000.09041,1197.85 L1003.09041,1197.85 Z M997.090415,1197.85 L997.340415,1197.85 L997.340415,1198.35 L997.090415,1198.35 L994.090415,1198.35 L993.840415,1198.35 L993.840415,1197.85 L994.090415,1197.85 L997.090415,1197.85 Z M991.090415,1197.85 L991.340415,1197.85 L991.340415,1198.35 L991.090415,1198.35 L988.090415,1198.35 L987.840415,1198.35 L987.840415,1197.85 L988.090415,1197.85 L991.090415,1197.85 Z M985.090415,1197.85 L985.340415,1197.85 L985.340415,1198.35 L985.090415,1198.35 L982.090415,1198.35 L981.840415,1198.35 L981.840415,1197.85 L982.090415,1197.85 L985.090415,1197.85 Z M979.090415,1197.85 L979.340415,1197.85 L979.340415,1198.35 L979.090415,1198.35 L976.090415,1198.35 L975.840415,1198.35 L975.840415,1197.85 L976.090415,1197.85 L979.090415,1197.85 Z M973.090415,1197.85 L973.340415,1197.85 L973.340415,1198.35 L973.090415,1198.35 L970.090415,1198.35 L969.840415,1198.35 L969.840415,1197.85 L970.090415,1197.85 L973.090415,1197.85 Z M967.090415,1197.85 L967.340415,1197.85 L967.340415,1198.35 L967.090415,1198.35 L964.090415,1198.35 L963.840415,1198.35 L963.840415,1197.85 L964.090415,1197.85 L967.090415,1197.85 Z M961.090415,1197.85 L961.340415,1197.85 L961.340415,1198.35 L961.090415,1198.35 L958.090415,1198.35 L957.840415,1198.35 L957.840415,1197.85 L958.090415,1197.85 L961.090415,1197.85 Z M955.090415,1197.85 L955.340415,1197.85 L955.340415,1198.35 L955.090415,1198.35 L952.090415,1198.35 L951.840415,1198.35 L951.840415,1197.85 L952.090415,1197.85 L955.090415,1197.85 Z M949.090415,1197.85 L949.340415,1197.85 L949.340415,1198.35 L949.090415,1198.35 L946.090415,1198.35 L945.840415,1198.35 L945.840415,1197.85 L946.090415,1197.85 L949.090415,1197.85 Z M943.090415,1197.85 L943.340415,1197.85 L943.340415,1198.35 L943.090415,1198.35 L940.090415,1198.35 L939.840415,1198.35 L939.840415,1197.85 L940.090415,1197.85 L943.090415,1197.85 Z M937.090415,1197.85 L937.340415,1197.85 L937.340415,1198.35 L937.090415,1198.35 L934.090415,1198.35 L933.840415,1198.35 L933.840415,1197.85 L934.090415,1197.85 L937.090415,1197.85 Z M931.090415,1197.85 L931.340415,1197.85 L931.340415,1198.35 L931.090415,1198.35 L928.090415,1198.35 L927.840415,1198.35 L927.840415,1197.85 L928.090415,1197.85 L931.090415,1197.85 Z M925.090415,1197.85 L925.340415,1197.85 L925.340415,1198.35 L925.090415,1198.35 L922.090415,1198.35 L921.840415,1198.35 L921.840415,1197.85 L922.090415,1197.85 L925.090415,1197.85 Z M919.090415,1197.85 L919.340415,1197.85 L919.340415,1198.35 L919.090415,1198.35 L916.090415,1198.35 L915.840415,1198.35 L915.840415,1197.85 L916.090415,1197.85 L919.090415,1197.85 Z M913.090415,1197.85 L913.340415,1197.85 L913.340415,1198.35 L913.090415,1198.35 L910.090415,1198.35 L909.840415,1198.35 L909.840415,1197.85 L910.090415,1197.85 L913.090415,1197.85 Z M907.090415,1197.85 L907.340415,1197.85 L907.340415,1198.35 L907.090415,1198.35 L904.090415,1198.35 L903.840415,1198.35 L903.840415,1197.85 L904.090415,1197.85 L907.090415,1197.85 Z M901.090415,1197.85 L901.340415,1197.85 L901.340415,1198.35 L901.090415,1198.35 L898.090415,1198.35 L897.840415,1198.35 L897.840415,1197.85 L898.090415,1197.85 L901.090415,1197.85 Z M895.090415,1197.85 L895.340415,1197.85 L895.340415,1198.35 L895.090415,1198.35 L892.090415,1198.35 L891.840415,1198.35 L891.840415,1197.85 L892.090415,1197.85 L895.090415,1197.85 Z M889.090415,1197.85 L889.340415,1197.85 L889.340415,1198.35 L889.090415,1198.35 L886.090415,1198.35 L885.840415,1198.35 L885.840415,1197.85 L886.090415,1197.85 L889.090415,1197.85 Z M883.090415,1197.85 L883.340415,1197.85 L883.340415,1198.35 L883.090415,1198.35 L880.090415,1198.35 L879.840415,1198.35 L879.840415,1197.85 L880.090415,1197.85 L883.090415,1197.85 Z M877.090415,1197.85 L877.340415,1197.85 L877.340415,1198.35 L877.090415,1198.35 L874.090415,1198.35 L873.840415,1198.35 L873.840415,1197.85 L874.090415,1197.85 L877.090415,1197.85 Z M871.090415,1197.85 L871.340415,1197.85 L871.340415,1198.35 L871.090415,1198.35 L868.090415,1198.35 L867.840415,1198.35 L867.840415,1197.85 L868.090415,1197.85 L871.090415,1197.85 Z M865.090415,1197.85 L865.340415,1197.85 L865.340415,1198.35 L865.090415,1198.35 L862.090415,1198.35 L861.840415,1198.35 L861.840415,1197.85 L862.090415,1197.85 L865.090415,1197.85 Z M859.090415,1197.85 L859.340415,1197.85 L859.340415,1198.35 L859.090415,1198.35 L856.090415,1198.35 L855.840415,1198.35 L855.840415,1197.85 L856.090415,1197.85 L859.090415,1197.85 Z M853.090415,1197.85 L853.340415,1197.85 L853.340415,1198.35 L853.090415,1198.35 L850.090415,1198.35 L849.840415,1198.35 L849.840415,1197.85 L850.090415,1197.85 L853.090415,1197.85 Z M847.090415,1197.85 L847.340415,1197.85 L847.340415,1198.35 L847.090415,1198.35 L844.090415,1198.35 L843.840415,1198.35 L843.840415,1197.85 L844.090415,1197.85 L847.090415,1197.85 Z M841.090415,1197.85 L841.340415,1197.85 L841.340415,1198.35 L841.090415,1198.35 L838.090415,1198.35 L837.840415,1198.35 L837.840415,1197.85 L838.090415,1197.85 L841.090415,1197.85 Z M835.090415,1197.85 L835.340415,1197.85 L835.340415,1198.35 L835.090415,1198.35 L832.090415,1198.35 L831.840415,1198.35 L831.840415,1197.85 L832.090415,1197.85 L835.090415,1197.85 Z M829.090415,1197.85 L829.340415,1197.85 L829.340415,1198.35 L829.090415,1198.35 L826.090415,1198.35 L825.840415,1198.35 L825.840415,1197.85 L826.090415,1197.85 L829.090415,1197.85 Z M823.090415,1197.85 L823.340415,1197.85 L823.340415,1198.35 L823.090415,1198.35 L820.090415,1198.35 L819.840415,1198.35 L819.840415,1197.85 L820.090415,1197.85 L823.090415,1197.85 Z M817.090415,1197.85 L817.340415,1197.85 L817.340415,1198.35 L817.090415,1198.35 L814.090415,1198.35 L813.840415,1198.35 L813.840415,1197.85 L814.090415,1197.85 L817.090415,1197.85 Z M811.090415,1197.85 L811.340415,1197.85 L811.340415,1198.35 L811.090415,1198.35 L808.090415,1198.35 L807.840415,1198.35 L807.840415,1197.85 L808.090415,1197.85 L811.090415,1197.85 Z M805.090415,1197.85 L805.340415,1197.85 L805.340415,1198.35 L805.090415,1198.35 L802.090415,1198.35 L801.840415,1198.35 L801.840415,1197.85 L802.090415,1197.85 L805.090415,1197.85 Z M799.090415,1197.85 L799.340415,1197.85 L799.340415,1198.35 L799.090415,1198.35 L796.090415,1198.35 L795.840415,1198.35 L795.840415,1197.85 L796.090415,1197.85 L799.090415,1197.85 Z M793.090415,1197.85 L793.340415,1197.85 L793.340415,1198.35 L793.090415,1198.35 L790.090415,1198.35 L789.840415,1198.35 L789.840415,1197.85 L790.090415,1197.85 L793.090415,1197.85 Z M787.090415,1197.85 L787.340415,1197.85 L787.340415,1198.35 L787.090415,1198.35 L784.090415,1198.35 L783.840415,1198.35 L783.840415,1197.85 L784.090415,1197.85 L787.090415,1197.85 Z M781.090415,1197.85 L781.340415,1197.85 L781.340415,1198.35 L781.090415,1198.35 L778.090415,1198.35 L777.840415,1198.35 L777.840415,1197.85 L778.090415,1197.85 L781.090415,1197.85 Z M775.090415,1197.85 L775.340415,1197.85 L775.340415,1198.35 L775.090415,1198.35 L772.090415,1198.35 L771.840415,1198.35 L771.840415,1197.85 L772.090415,1197.85 L775.090415,1197.85 Z M769.090415,1197.85 L769.340415,1197.85 L769.340415,1198.35 L769.090415,1198.35 L766.090415,1198.35 L765.840415,1198.35 L765.840415,1197.85 L766.090415,1197.85 L769.090415,1197.85 Z M763.090415,1197.85 L763.340415,1197.85 L763.340415,1198.35 L763.090415,1198.35 L760.090415,1198.35 L759.840415,1198.35 L759.840415,1197.85 L760.090415,1197.85 L763.090415,1197.85 Z M757.090415,1197.85 L757.340415,1197.85 L757.340415,1198.35 L757.090415,1198.35 L754.090415,1198.35 L753.840415,1198.35 L753.840415,1197.85 L754.090415,1197.85 L757.090415,1197.85 Z M751.090415,1197.85 L751.340415,1197.85 L751.340415,1198.35 L751.090415,1198.35 L748.090415,1198.35 L747.840415,1198.35 L747.840415,1197.85 L748.090415,1197.85 L751.090415,1197.85 Z M745.090415,1197.85 L745.340415,1197.85 L745.340415,1198.35 L745.090415,1198.35 L742.090415,1198.35 L741.840415,1198.35 L741.840415,1197.85 L742.090415,1197.85 L745.090415,1197.85 Z"></path> </g> </g> </svg>',
				wave:
					'<svg width="67px" height="9px" viewBox="0 0 67 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-740.000000, -882.000000)" fill="#C1A47A"> <path d="M807,891 L805.721374,891 C802.292099,891 799.288351,889.207397 797.666031,886.542904 C796.04371,889.207397 793.039962,891 789.610687,891 C786.181412,891 783.177664,889.207397 781.555344,886.542904 C779.933023,889.207397 776.929275,891 773.5,891 C770.070725,891 767.066977,889.207397 765.444656,886.542904 C763.822336,889.207397 760.818588,891 757.389313,891 C753.960038,891 750.95629,889.207397 749.333969,886.542904 C747.711649,889.207397 744.707901,891 741.278626,891 L740,891 L740,888.534247 L741.278626,888.534247 C745.015282,888.534247 748.055344,885.602959 748.055344,882 L750.612595,882 C750.612595,885.602959 753.652656,888.534247 757.389313,888.534247 C761.125969,888.534247 764.166031,885.602959 764.166031,882 L766.723282,882 C766.723282,885.602959 769.763344,888.534247 773.5,888.534247 C777.236656,888.534247 780.276718,885.602959 780.276718,882 L782.833969,882 C782.833969,885.602959 785.874031,888.534247 789.610687,888.534247 C793.347344,888.534247 796.387405,885.602959 796.387405,882 L798.944656,882 C798.944656,885.602959 801.984718,888.534247 805.721374,888.534247 L807,888.534247 L807,891 Z" id="Fill-17-Copy"></path> </g> </g> </svg>',
			},
		};
	},
	computed: {
		isMobile() {
			return window.innerWidth < 1200;
		},
	},
	methods: {
		gotoLink() {
			this.$router.push({ path: this.link });
		},
	},
};
</script>

<style scoped lang="scss">
.layerTextContent {
	padding: 120px 120px 100px 120px;
	line-height: 24px;
	max-width: 800px;
	margin: 0 0 30px 20px;
	&--icons {
		margin: 13px 0;
	}
	&--content {
		padding-left: 0;
		word-wrap: break-word;
	}
	&--wave-icon {
		margin: 30px 0;
		padding-left: 0;
	}
	&--title {
		font-size: 48px;
		line-height: 52px;
		padding-left: 0;
	}
	&--content {
		font-size: 16px;
		padding-left: 0;
	}
}
@media only screen and (max-width: 1200px) {
	.layerTextContent {
		padding: 50px 30px;
		margin: 0 auto !important;
		transition: 1s all ease;
		z-index: 10000;
		&--wave-icon {
			margin: 5px 0 20px 0;
			padding-left: 0;
		}
		&--icons {
			margin: 13px 0;
			.item {
				margin: 20px 0;
				font-size: 10px;
			}
		}
		&--title {
			font-size: 30px;
			padding-left: 0;
			line-height: 36px;
		}
		&--content {
			font-size: 14px;
			padding-left: 0;
		}
	}
}
</style>
