<template>
	<div
		@click.stop.prevent="click"
		class="row col-xs-12 main-button"
		style="padding:0"
	>
		<div class="button row center-xs middle-xs">
			{{ text }}
		</div>
	</div>
</template>

<script>
export default {
	props: {
		text: {
			type: String,
			default: "Sužinok daugiau",
		},
	},
	methods: {
		click() {
			this.$emit("on-click");
		},
	},
};
</script>

<style scoped lang="scss">
.light {
	.button {
		background: #c1a47a !important;
	}
}
.button {
	height: 53px;
	padding: 8px 40px;
	color: #fff;
	cursor: pointer;
	background: #30475e;
	line-height: 1.8em;
	transition: 0.3s all ease;
	&:hover {
		transition: 0.3s all ease;
		box-shadow: 4px 4px 3px 2px rgba(122, 122, 122, 0.3);
		transform: scale(1.01);
	}
}
@media only screen and (max-width: 800px) {
	.button {
		width: 100%;
	}
}
</style>
