<template>
	<div class="header">
		<div class="header--bg-color"></div>
		<div class="header--bg-image" :style="getBackgroundImage"></div>
		<div v-if="imagesUrl.length > 1" class="bullets">
			<div
				@click="changeImg(k)"
				v-for="(bullet, k) of imagesUrl"
				:class="{
					active: k == currImageIndex,
				}"
				class="bullet"
				v-html="icons['bullet']"
			></div>
		</div>
		<div v-if="bgOverlay" class="bg-overlay"></div>
		<div class="header--top middle-xs row between-xs">
			<div
				@click="mouseClicked"
				class="header--mouse-bottom bottom-xs center-xs row between-xs"
			>
				<div class="col-xs" v-html="icons['mouse']"></div>
			</div>
			<div class="header--text-middle middle-xs center-xs row">
				<div class="col-xs-9 header--text-middle--content">
					{{ title }}
				</div>
			</div>
			<topMenu />
		</div>
	</div>
</template>

<script>
import anime from "animejs";
import topMenu from "./topMenu";

export default {
	props: {
		title: {
			type: String,
		},
		imagesUrl: {
			type: Object,
		},
		bgOverlay: {
			type: Boolean,
			default: false,
		},
	},
	components: { topMenu },
	data() {
		return {
			interval: null,
			currImageIndex: 0,
			icons: {
				bullet:
					'<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"> <g id="Titulinis" transform="translate(-1397.000000, -359.000000)" stroke="#FFFFFF"> <g id="circle" transform="translate(1398.000000, 360.000000)"> <circle id="Oval" cx="5" cy="5" r="5"></circle> </g> </g> </g> </svg>',
				mouse:
					'<svg class="mouse" width="19px" height="41px" viewBox="0 0 19 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <polygon id="path-1" points="0 0 19 0 19 26 0 26"></polygon> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-710.000000, -647.000000)"> <g id="Group-3" transform="translate(710.000000, 647.000000)"> <mask id="mask-2" fill="white"> <use xlink:href="#path-1"></use> </mask> <g id="Clip-2"></g> <path d="M17.8823683,16.7916836 C17.8823683,21.2723672 14.1226142,24.9166836 9.5,24.9166836 C4.8773858,24.9166836 1.11763165,21.2723672 1.11763165,16.7916836 L1.11763165,7.04168359 C1.11763165,3.75593359 3.87485455,1.08336719 7.26468431,1.08336719 L8.94115798,1.08336719 L8.94115798,3.34968359 C8.29183877,3.57393359 7.82352633,4.16975 7.82352633,4.875 L7.82352633,8.125 C7.82352633,9.02093359 8.57568672,9.75 9.5,9.75 C10.4243133,9.75 11.1764737,9.02093359 11.1764737,8.125 L11.1764737,4.875 C11.1764737,4.16975 10.7081612,3.57393359 10.058842,3.34968359 L10.058842,1.08331641 L11.7353157,1.08331641 C15.1251455,1.08331641 17.8823683,3.75593359 17.8823683,7.04168359 L17.8823683,16.7916836 Z M9.5,4.33331641 C9.80847116,4.33331641 10.058842,4.576 10.058842,4.875 L10.058842,8.125 C10.058842,8.424 9.80847116,8.66668359 9.5,8.66668359 C9.19152884,8.66668359 8.94115798,8.424 8.94115798,8.125 L8.94115798,4.875 C8.94115798,4.576 9.19152884,4.33331641 9.5,4.33331641 Z M11.7353157,0 L7.2647367,0 C3.25906481,0 0,3.159 0,7.04168359 L0,16.7916836 C0,21.86925 4.26159607,26 9.5,26 C14.7384039,26 19,21.86925 19,16.7916836 L19,7.04168359 C19,3.159 15.7409352,0 11.7353157,0 Z" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path> </g> <g id="downwards-arrow-key" transform="translate(715.000000, 681.000000)" fill="#FFFFFF"> <polygon id="Path" points="1.05 0.65 4.5 4.19327345 7.95 0.65 9 1.72840859 4.5 6.35 0 1.72840859"></polygon> </g> </g> </g> </svg>',
				"menu-close":
					' <svg width="65px" height="16px" viewBox="0 0 65 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Meniu" transform="translate(-1337.000000, -40.000000)"> <text id="MENIU" font-family="Helvetica" font-size="12" font-weight="normal" letter-spacing="0.4285714" fill="#FFFFFF"> <tspan x="1337" y="51">MENIU</tspan> </text> <g id="close-button" transform="translate(1386.000000, 40.000000)" fill="#C1A47A"> <polygon id="Path" points="16 1.6 14.4 0 8 6.4 1.6 0 0 1.6 6.4 8 0 14.4 1.6 16 8 9.6 14.4 16 16 14.4 9.6 8"></polygon> </g> </g> </g> </svg>',
				menu:
					'<svg width="72px" height="16px" viewBox="0 0 72 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-1337.000000, -40.000000)"> <g id="menu-button" transform="translate(1386.000000, 40.000000)" fill="#C1A47A" fill-rule="nonzero"> <path d="M0,16 L23,16 L23,13.3333333 L0,13.3333333 L0,16 Z M0,9.33333333 L23,9.33333333 L23,6.66666667 L0,6.66666667 L0,9.33333333 Z M0,0 L0,2.66666667 L23,2.66666667 L23,0 L0,0 Z" id="Shape"></path> </g> <text id="MENIU" font-family="Helvetica" font-size="12" font-weight="normal" letter-spacing="0.4285714" fill="#FFFFFF"> <tspan x="1337" y="51">MENIU</tspan> </text> </g> </g> </svg>',
				phone:
					' <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-32.000000, -42.000000)" fill="#C1A47A"> <g id="phone-call-button" transform="translate(32.000000, 42.000000)"> <path d="M3.2,6.93333333 C4.44444444,9.42222222 6.57777778,11.4666667 9.06666667,12.8 L11.0222222,10.8444444 C11.288854,10.5778126 11.6444444,10.4889237 11.9111111,10.6666667 C12.8888889,11.0222222 13.9555207,11.2 15.1111111,11.2 C15.6444444,11.2 16,11.5555556 16,12.0888889 L16,15.1111111 C16,15.6444444 15.6444444,16 15.1111111,16 C6.75555556,16 0,9.24444444 0,0.888888889 C0,0.355555556 0.355555556,0 0.888888889,0 L4,0 C4.53333333,0 4.88888889,0.355555556 4.88888889,0.888888889 C4.88888889,1.95555556 5.06666667,3.02222222 5.42222222,4.08888889 C5.51111111,4.35555556 5.42222222,4.71111111 5.24444444,4.97777778 L3.2,6.93333333 Z" id="Path"></path> </g> </g> </g> </svg>',
			},
		};
	},
	mounted() {
		this.animateMouse();
		this.textAppear();
		this.autoChangeBg();
	},
	beforeDestroy() {
		clearInterval(this.interval);
	},
	computed: {
		getBackgroundImage() {
			return {
				backgroundImage: `url(/storage/app/media/${
					this.imagesUrl[this.currImageIndex].image
				})`,
			};
		},
	},
	methods: {
		autoChangeBg() {
			if (this.imagesUrl.length < 2) return;
			this.interval = setInterval(
				function() {
					let k =
						this.currImageIndex === this.imagesUrl.length - 1
							? 0
							: this.currImageIndex + 1;
					this.slideContent(k, true);
				}.bind(this),
				10000
			);
		},
		changeImg(key) {
			clearInterval(this.interval);
			if (key == this.currImageIndex) return;
			this.slideContent(key, true);
		},
		slideContent(key, forward) {
			const self = this;
			anime({
				targets: ".header--bg-image",
				translateX: forward
					? [0, -window.innerWidth - 500]
					: [0, window.innerWidth + 100],
				opacity: [1, 0],
				duration: 300,
				easing: "spring(1, 80, 20, 0)",
				complete() {},
			});
			setTimeout(function() {
				self.currImageIndex = key;
				self.animateImageAppear(forward);
			}, 350);
		},
		animateImageAppear(forward) {
			anime({
				targets: ".header--bg-image",
				opacity: [0, 1],
				translateX: forward
					? [window.innerWidth + 100, 0]
					: [-window.innerWidth - 100, 0],
				duration: 1000,
				easing: "spring(1, 180, 20, 0)",
			});
		},
		mouseClicked() {
			this.$emit("mouse-clicked");
		},
		textAppear() {
			anime({
				targets: ".header--text-middle--content",
				opacity: [0, 1],
				translateY: [-50, 0],
				easing: "easeOutSine",
				delay: 1000,
				duration: 1000,
			});
		},
		animateMouse() {
			anime({
				targets: ".mouse",
				translateY: [-20, 0],
				easing: "easeInOutSine",
				duration: 1500,
				direction: "alternate",
				loop: true,
			});
		},
	},
};
</script>

<style lang="scss">
.header {
	color: #fff;
	height: 865px;
	position: relative;
	width: 100%;
	.bullets {
		position: absolute;
		right: 30px;
		top: 48%;
		.bullet {
			margin: 5px 0;
			opacity: 0.5;
			transition: 0.3s all ease;
			cursor: pointer;
			&.active,
			&:hover {
				opacity: 1;
				transition: 0.3s all ease;
			}
		}
	}
	.bg-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(48, 71, 94, 0.5);
		z-index: -1;
	}
	&--mouse-bottom {
		position: absolute;
		bottom: 82px;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 0;
		cursor: pointer;
	}
	&--text-middle {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		font-size: 48px;
		margin: 0 auto;
		z-index: -1;
		&--content {
			opacity: 0;
		}
	}
	&--bg-image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
	&--bg-color {
		position: absolute;
		z-index: -1;
		background-color: rgba(48, 71, 94, 1);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&--menu {
		cursor: pointer;
		z-index: 101;
	}
}
@media only screen and (max-width: 1200px) {
	.phone-text {
		display: none;
	}
	.header {
		height: 100vh !important;
		&--bg-image {
			background-position: 50% 50%;
		}
		&--text-middle {
			font-size: 30px;
			line-height: 36px;
			&--content {
				opacity: 0;
			}
		}
		img {
			width: 100%;
			max-width: 200px;
		}
		&--mouse-bottom {
			display: none !important;
		}
	}
}
@media only screen and (max-width: 800px) {
	.bullets {
		position: absolute;
		bottom: 10px;
		top: auto !important;
		right: 45% !important;
		.bullet {
			margin: 0 5px !important;
			display: inline-block;
		}
	}
}
</style>
