<template>
	<div :id="id" class="planas">
		<div
			:style="
				right
					? {
							left: 0,
					  }
					: {
							right: 0,
					  }
			"
			style="background-image: url(assets/logo.svg)"
			class="image-container"
		>
			<div
				v-if="k === activeImage"
				v-for="(image, k) of images"
				class="image"
				:style="getImageBgUrl(image)"
			></div>
		</div>
		<div
			:style="
				right
					? {
							right: '80px',
					  }
					: {
							left: '80px',
					  }
			"
			class="planas--content-box"
		>
			<div class="planas--content-box--title">
				{{ text }}
			</div>
			<div style="margin: 20px 0" v-html="icons['wave']"></div>
			<div v-html="description" class="planas--content-box--descripion"></div>
			<div class="row between-xs" style="margin-top:35px">
				<div>
					<mainButton
						@on-click="download"
						text="Parsisiųsti planus"
						class="light col-xs"
					/>
				</div>
				<div class="nav row col-xs end-xs">
					<div
						v-show="activeImage"
						@click="prevImage"
						class="icon row middle-xs center-xs"
					>
						<div
							class="row middle-xs center-xs"
							v-html="icons['chevronLeft']"
						></div>
					</div>
					<div
						v-show="images.length > 1 && activeImage != images.length - 1"
						@click="nextImage"
						class="icon row middle-xs center-xs"
					>
						<div
							class="row middle-xs center-xs"
							v-html="icons['chevronRight']"
						></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import anime from "animejs";
import mainButton from "./mainButton";

export default {
	props: {
		id: {
			type: String,
		},
		images: {
			type: Object,
		},
		text: {
			type: String,
		},
		description: {
			type: String,
		},
		file: {
			type: String,
		},
		right: {
			type: Boolean,
			default: false,
		},
	},
	components: { mainButton },
	data() {
		return {
			activeImage: 0,
			icons: {
				chevronLeft:
					'<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#c1a47a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>',
				chevronRight:
					'<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#c1a47a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>',
				wave:
					'<svg width="67px" height="9px" viewBox="0 0 67 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-740.000000, -882.000000)" fill="#C1A47A"> <path d="M807,891 L805.721374,891 C802.292099,891 799.288351,889.207397 797.666031,886.542904 C796.04371,889.207397 793.039962,891 789.610687,891 C786.181412,891 783.177664,889.207397 781.555344,886.542904 C779.933023,889.207397 776.929275,891 773.5,891 C770.070725,891 767.066977,889.207397 765.444656,886.542904 C763.822336,889.207397 760.818588,891 757.389313,891 C753.960038,891 750.95629,889.207397 749.333969,886.542904 C747.711649,889.207397 744.707901,891 741.278626,891 L740,891 L740,888.534247 L741.278626,888.534247 C745.015282,888.534247 748.055344,885.602959 748.055344,882 L750.612595,882 C750.612595,885.602959 753.652656,888.534247 757.389313,888.534247 C761.125969,888.534247 764.166031,885.602959 764.166031,882 L766.723282,882 C766.723282,885.602959 769.763344,888.534247 773.5,888.534247 C777.236656,888.534247 780.276718,885.602959 780.276718,882 L782.833969,882 C782.833969,885.602959 785.874031,888.534247 789.610687,888.534247 C793.347344,888.534247 796.387405,885.602959 796.387405,882 L798.944656,882 C798.944656,885.602959 801.984718,888.534247 805.721374,888.534247 L807,888.534247 L807,891 Z" id="Fill-17-Copy"></path> </g> </g> </svg>',
			},
		};
	},
	mounted() {
		this.slideContent(0);
	},
	methods: {
		getImageBgUrl(image) {
			return {
				backgroundImage: `url(/storage/app/media/${image.image})`,
			};
		},
		download() {
			window.open(
				`http://localhost:8070/storage/app/media/${this.file}`,
				"_blank"
			);
		},
		prevImage() {
			this.slideContent(this.activeImage - 1, false);
		},
		nextImage() {
			this.slideContent(this.activeImage + 1, true);
		},
		animateImageAppear(forward) {
			anime({
				targets: "#" + this.id + " .image-container .image",
				translateX: forward ? [1200, 0] : [-1200, 0],
				duration: 500,
				easing: "spring(1.5, 80, 20, 0)",
			});
		},
		slideContent(id, forward) {
			const self = this;
			anime({
				targets: "#" + this.id + " .image-container .image",
				translateX: forward ? [0, -1200] : [0, 1200],
				duration: 500,
				easing: "spring(1, 80, 20, 0)",
				complete() {},
			});
			setTimeout(function() {
				self.activeImage = id;
				self.animateImageAppear(forward);
			}, 300);
		},
	},
};
</script>

<style scoped lang="scss">
.nav {
	.icon {
		width: 53px;
		height: 53px;
		border: 1px solid rgba(193, 164, 122, 0.5);
		margin: 0 5px;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			transition: all 0.3s ease;
			background: rgba(48, 71, 94, 0.3);
			svg {
				stroke: #c1a47a;
			}
		}
	}
}
.planas {
	position: relative;
	min-height: 750px;
	margin-bottom: 140px;
	&--content-box {
		position: absolute;
		top: 30px;
		z-index: 100;
		width: 30%;
		text-align: left;
		color: #fff;
		padding: 50px 80px;
		line-height: 24px;
		background: rgba(48, 71, 94, 0.9);
		&--title {
			font-size: 36px;
			line-height: 42px;
		}
		&--description {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.default-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	.image-container {
		position: absolute;
		width: 1200px;
		height: 725px;
		background: rgba(48, 71, 94, 1);
		overflow: hidden;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		&-container {
			position: relative;
			width: 100%;
			height: 100%;
		}
		.image {
			z-index: 1;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.planas {
		position: relative;
		min-height: 750px;
		margin-bottom: 40px;
		max-width: 800px;
		margin: 0 auto;
		.nav {
			display: none;
		}
		.image-container {
			position: relative;
			max-height: 200px;
			height: 200px;
			width: 100%;
		}
		&--content-box {
			position: relative;
			display: table-cell;
			width: 100%;
			padding: 50px 30px;
			left: 0 !important;
			top: -20px;
			&--title {
				font-size: 26px;
				line-height: 30px;
			}
			&--description {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}
</style>
