<template>
	<div :class="type" class="sportas">
		<div
			@click="enlargeImageUrl = null"
			v-if="enlargeImageUrl"
			class="full-image row center-xs middle-xs"
		>
			<img :src="fullImage" />
		</div>
		<div
			v-if="
				(isMobile && type != 'dark') ||
					(!ismobile && (type == 'right' || type == 'right-bg'))
			"
			class="row middle-xs"
		>
			<div class="col-lg-5 col-xs-12 row middle-xs center-xs image-enclose">
				<img
					:style="{
						zIndex: imageOnTop && !isMobile ? 1000 : -1,
					}"
					:src="getImageUrl"
				/>
			</div>
			<div
				:class="{
					left: this.k % 2 == 0,
					right: this.k % 2 != 0,
				}"
				:style="transform"
				class="col-lg-7 col-xs-12 middle-xs center-xs row text-bg"
			>
				<layerTextContent
					noIconsAndButton
					:noBg="type == 'left' || type == 'right'"
					:title="title"
					:content="content"
				/>
			</div>
		</div>
		<div v-else-if="type == 'dark'" class="dark row middle-xs">
			<div
				@click.stop.prevent="enlargeImage"
				style="left:0; padding:0"
				class="image-container col-lg-5 col-xs-12 middle-xs"
			>
				<div class="row middle-xs" style="position:relative">
					<img class="image" :src="getImageUrl" style="max-width:800px" />
					<div class="row enlarge col-xs-12 middle-xs center-xs">
						<div v-html="icons['enlarge']"></div>
					</div>
				</div>
			</div>
			<div class="planas--content-box col-lg-7 col-xs-12">
				<div class="planas--content-box--title">{{ title }}</div>
				<div
					class="wave"
					style="margin: 20px 0; padding-left: 130px;"
					v-html="icons['wave']"
				></div>
				<div v-html="content" class="planas--content-box--description"></div>
			</div>
			<!-- 			<div
				v-if="!isMobile"
				style="left:0"
				class="image-container col-lg-5 col-xs-12"
			>
				<img class="image" :src="getImageUrl" />
			</div> -->
		</div>
		<div v-else class="row middle-xs">
			<div
				:style="transform"
				class="col-lg-7 col-xs-12 middle-xs"
				style="z-index:100"
			>
				<layerTextContent
					style="padding-left:100px"
					:noBg="type == 'left' || type == 'right'"
					noIconsAndButton
					:title="title"
					:content="content"
				/>
			</div>
			<div class="col-lg-5 col-xs-12 row middle-xs end-xs">
				<img
					:style="{
						zIndex: imageOnTop && !isMobile ? 1000 : -1,
					}"
					style="margin-right: -60px;"
					:src="getImageUrl"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import layerTextContent from "./layerTextContent";

export default {
	props: {
		title: {
			type: String,
		},
		percentInView: {
			type: Array,
		},
		k: {
			type: Number,
		},
		content: {
			type: String,
		},
		type: {
			type: String,
		},
		coverImage: {
			type: String,
		},
		imageOnTop: {
			type: Boolean,
			default: false,
		},
		image: {
			type: String,
		},
	},
	data() {
		return {
			enlargeImageUrl: null,
			icons: {
				enlarge:
					' <svg width="58px" height="58px" viewBox="0 0 58 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Aplinka-mobile" transform="translate(-130.000000, -2641.000000)"> <circle id="Fill-17-Copy-8" fill="#C1A47A" cx="159" cy="2670" r="29"></circle> <g id="zoom-in" transform="translate(150.000000, 2661.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"> <circle id="Oval" cx="8" cy="8" r="8"></circle> <path d="M18,18 L13.65,13.65" id="Path"></path> <path d="M8,5 L8,11" id="Path"></path> <path d="M5,8 L11,8" id="Path"></path> </g> </g> </g> </svg>',
				chevronLeft:
					'<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#c1a47a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>',
				chevronRight:
					'<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#c1a47a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>',
				wave:
					'<svg width="67px" height="9px" viewBox="0 0 67 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-740.000000, -882.000000)" fill="#C1A47A"> <path d="M807,891 L805.721374,891 C802.292099,891 799.288351,889.207397 797.666031,886.542904 C796.04371,889.207397 793.039962,891 789.610687,891 C786.181412,891 783.177664,889.207397 781.555344,886.542904 C779.933023,889.207397 776.929275,891 773.5,891 C770.070725,891 767.066977,889.207397 765.444656,886.542904 C763.822336,889.207397 760.818588,891 757.389313,891 C753.960038,891 750.95629,889.207397 749.333969,886.542904 C747.711649,889.207397 744.707901,891 741.278626,891 L740,891 L740,888.534247 L741.278626,888.534247 C745.015282,888.534247 748.055344,885.602959 748.055344,882 L750.612595,882 C750.612595,885.602959 753.652656,888.534247 757.389313,888.534247 C761.125969,888.534247 764.166031,885.602959 764.166031,882 L766.723282,882 C766.723282,885.602959 769.763344,888.534247 773.5,888.534247 C777.236656,888.534247 780.276718,885.602959 780.276718,882 L782.833969,882 C782.833969,885.602959 785.874031,888.534247 789.610687,888.534247 C793.347344,888.534247 796.387405,885.602959 796.387405,882 L798.944656,882 C798.944656,885.602959 801.984718,888.534247 805.721374,888.534247 L807,888.534247 L807,891 Z" id="Fill-17-Copy"></path> </g> </g> </svg>',
			},
		};
	},
	mounted() {},
	components: { layerTextContent },
	computed: {
		noBg() {
			return this.type == "left" || this.type == "right";
		},
		isMobile() {
			return window.innerWidth < 1200;
		},
		getImageUrl() {
			return `/storage/app/media/${this.image}`;
		},
		getMargin() {
			if (this.isMobile) {
				return !this.noBg ? "-50px" : 0;
			} else {
				return !this.k && this.coverImage ? "-80px" : 0;
			}
		},
		fullImage() {
			return `/storage/app/media${this.enlargeImageUrl}`;
		},
		transform() {
			if (this.k % 2 == 0 && this.hasBg) {
				return {
					transform: "translateY(" + -this.percentInView[this.k] * 30 + "px)",
					marginTop: this.getMargin,
				};
			} else {
				return {
					transform: "translateY(" + this.percentInView[this.k] * 30 + "px)",
					marginTop: this.getMargin,
				};
			}
		},
	},
	methods: {
		enlargeImage() {
			this.enlargeImageUrl = this.image;
		},
	},
};
</script>

<style scoped lang="scss">
.sportas {
	max-width: 1380px !important;
	margin: 0 auto;
}
.enlarge {
	display: none;
}
.full-image {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	background: #42576b;
	img {
		width: 100%;
		height: auto;
	}
}
.planas {
	position: relative;
	min-height: 750px;
	margin-bottom: 140px;
	&--content-box {
		top: 30px;
		z-index: -1;
		width: 30%;
		text-align: left;
		color: #fff;
		padding: 90px 80px 80px 200px;
		line-height: 24px;
		background: rgba(48, 71, 94, 0.9);
		&--title {
			font-size: 36px;
			padding-left: 130px;
			line-height: 36px;
		}
		&--description {
			font-size: 16px;
			line-height: 24px;
			padding-left: 130px;
		}
	}
	.dark {
		position: relative;
		.image {
			max-width: 100%;
		}
		.image-enclose {
			img {
				max-height: 600px;
				margin: 0 !important;
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.image-container {
		position: absolute;
		.image {
			height: 100%;
			width: 300px;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.text-bg {
		&.left {
			padding-left: 10px;
		}
		&.right {
			padding-right: 10px !important;
		}
	}
	.dark {
		position: relative;
		.image {
			max-width: 100% !important;
			margin: 0 auto;
			img {
				max-width: 100%;
			}
		}
		.planas {
			position: relative;
			min-height: 750px;
			margin-bottom: 140px;
			&--content-box {
				position: relative;
				z-index: 0;
				width: 100%;
				text-align: left;
				color: #fff;
				padding: 50px;
				line-height: 24px;
				margin-top: -60px;
				background: rgba(48, 71, 94, 0.9);
				&--title {
					padding-left: 0;
				}
				.wave {
					padding-left: 0 !important;
				}
				&--description {
					padding-left: 0;
				}
			}
		}
	}
	.enlarge {
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 1000000;
	}
	.image-enclose {
		img {
			max-height: 600px;
			margin: 0 !important;
			max-width: 100%;
			width: 100%;
		}
	}
}
</style>
