<template>
	<div class="statistics row container" style="margin: 0 auto">
		<div v-if="isMobile" class="arrow mob" v-html="icons['arrowMob']"></div>
		<div v-else class="arrow" v-html="icons['arrow']"></div>
		<div
			v-for="stat of statistics"
			class="col-sm col-xs-6 row stats-container"
		>
			<div
				v-html="stat.icon"
				class="row center-xs middle-xs col-xs-12"
			></div>
			<div class="row title center-xs middle-xs col-xs-12">
				{{ stat.title }}
			</div>
			<div class="row distance center-xs middle-xs col-xs-12">
				{{ stat.distance }}
			</div>
		</div>
		<div v-if="isMobile" class="arrow mob" v-html="icons['arrowMob']"></div>
		<div v-else class="arrow" v-html="icons['arrow']"></div>
	</div>
</template>

<script>
import anime from "animejs";

export default {
	props: {},
	data() {
		return {
			icons: {
				arrowMob:
					'<svg width="261px" height="8px" viewBox="0 0 261 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Aplinka-mobile" transform="translate(-29.000000, -673.000000)" fill="#C1A47A" fill-rule="nonzero"> <path id="Line-Copy-4" d="M288.420623,676.85 L283.252435,673.942894 L283.034541,673.820329 L283.279671,673.384541 L283.497565,673.507106 L289.497565,676.882106 L289.884932,677.1 L289.497565,677.317894 L283.497565,680.692894 L283.279671,680.815459 L283.034541,680.379671 L283.252435,680.257106 L288.420623,677.35 L285.75,677.35 L285.5,677.35 L285.5,676.85 L285.75,676.85 L288.420623,676.85 Z M30.5793767,677.35 L35.7475653,680.257106 L35.9654592,680.379671 L35.7203286,680.815459 L35.5024347,680.692894 L29.5024347,677.317894 L29.1150678,677.1 L29.5024347,676.882106 L35.5024347,673.507106 L35.7203286,673.384541 L35.9654592,673.820329 L35.7475653,673.942894 L30.5793767,676.85 L30.75,676.85 L31,676.85 L31,677.35 L30.75,677.35 L30.5793767,677.35 Z M282.75,676.85 L283,676.85 L283,677.35 L282.75,677.35 L279.75,677.35 L279.5,677.35 L279.5,676.85 L279.75,676.85 L282.75,676.85 Z M276.75,676.85 L277,676.85 L277,677.35 L276.75,677.35 L273.75,677.35 L273.5,677.35 L273.5,676.85 L273.75,676.85 L276.75,676.85 Z M270.75,676.85 L271,676.85 L271,677.35 L270.75,677.35 L267.75,677.35 L267.5,677.35 L267.5,676.85 L267.75,676.85 L270.75,676.85 Z M264.75,676.85 L265,676.85 L265,677.35 L264.75,677.35 L261.75,677.35 L261.5,677.35 L261.5,676.85 L261.75,676.85 L264.75,676.85 Z M258.75,676.85 L259,676.85 L259,677.35 L258.75,677.35 L255.75,677.35 L255.5,677.35 L255.5,676.85 L255.75,676.85 L258.75,676.85 Z M252.75,676.85 L253,676.85 L253,677.35 L252.75,677.35 L249.75,677.35 L249.5,677.35 L249.5,676.85 L249.75,676.85 L252.75,676.85 Z M246.75,676.85 L247,676.85 L247,677.35 L246.75,677.35 L243.75,677.35 L243.5,677.35 L243.5,676.85 L243.75,676.85 L246.75,676.85 Z M240.75,676.85 L241,676.85 L241,677.35 L240.75,677.35 L237.75,677.35 L237.5,677.35 L237.5,676.85 L237.75,676.85 L240.75,676.85 Z M234.75,676.85 L235,676.85 L235,677.35 L234.75,677.35 L231.75,677.35 L231.5,677.35 L231.5,676.85 L231.75,676.85 L234.75,676.85 Z M228.75,676.85 L229,676.85 L229,677.35 L228.75,677.35 L225.75,677.35 L225.5,677.35 L225.5,676.85 L225.75,676.85 L228.75,676.85 Z M222.75,676.85 L223,676.85 L223,677.35 L222.75,677.35 L219.75,677.35 L219.5,677.35 L219.5,676.85 L219.75,676.85 L222.75,676.85 Z M216.75,676.85 L217,676.85 L217,677.35 L216.75,677.35 L213.75,677.35 L213.5,677.35 L213.5,676.85 L213.75,676.85 L216.75,676.85 Z M210.75,676.85 L211,676.85 L211,677.35 L210.75,677.35 L207.75,677.35 L207.5,677.35 L207.5,676.85 L207.75,676.85 L210.75,676.85 Z M204.75,676.85 L205,676.85 L205,677.35 L204.75,677.35 L201.75,677.35 L201.5,677.35 L201.5,676.85 L201.75,676.85 L204.75,676.85 Z M198.75,676.85 L199,676.85 L199,677.35 L198.75,677.35 L195.75,677.35 L195.5,677.35 L195.5,676.85 L195.75,676.85 L198.75,676.85 Z M192.75,676.85 L193,676.85 L193,677.35 L192.75,677.35 L189.75,677.35 L189.5,677.35 L189.5,676.85 L189.75,676.85 L192.75,676.85 Z M186.75,676.85 L187,676.85 L187,677.35 L186.75,677.35 L183.75,677.35 L183.5,677.35 L183.5,676.85 L183.75,676.85 L186.75,676.85 Z M180.75,676.85 L181,676.85 L181,677.35 L180.75,677.35 L177.75,677.35 L177.5,677.35 L177.5,676.85 L177.75,676.85 L180.75,676.85 Z M174.75,676.85 L175,676.85 L175,677.35 L174.75,677.35 L171.75,677.35 L171.5,677.35 L171.5,676.85 L171.75,676.85 L174.75,676.85 Z M168.75,676.85 L169,676.85 L169,677.35 L168.75,677.35 L165.75,677.35 L165.5,677.35 L165.5,676.85 L165.75,676.85 L168.75,676.85 Z M162.75,676.85 L163,676.85 L163,677.35 L162.75,677.35 L159.75,677.35 L159.5,677.35 L159.5,676.85 L159.75,676.85 L162.75,676.85 Z M156.75,676.85 L157,676.85 L157,677.35 L156.75,677.35 L153.75,677.35 L153.5,677.35 L153.5,676.85 L153.75,676.85 L156.75,676.85 Z M150.75,676.85 L151,676.85 L151,677.35 L150.75,677.35 L147.75,677.35 L147.5,677.35 L147.5,676.85 L147.75,676.85 L150.75,676.85 Z M144.75,676.85 L145,676.85 L145,677.35 L144.75,677.35 L141.75,677.35 L141.5,677.35 L141.5,676.85 L141.75,676.85 L144.75,676.85 Z M138.75,676.85 L139,676.85 L139,677.35 L138.75,677.35 L135.75,677.35 L135.5,677.35 L135.5,676.85 L135.75,676.85 L138.75,676.85 Z M132.75,676.85 L133,676.85 L133,677.35 L132.75,677.35 L129.75,677.35 L129.5,677.35 L129.5,676.85 L129.75,676.85 L132.75,676.85 Z M126.75,676.85 L127,676.85 L127,677.35 L126.75,677.35 L123.75,677.35 L123.5,677.35 L123.5,676.85 L123.75,676.85 L126.75,676.85 Z M120.75,676.85 L121,676.85 L121,677.35 L120.75,677.35 L117.75,677.35 L117.5,677.35 L117.5,676.85 L117.75,676.85 L120.75,676.85 Z M114.75,676.85 L115,676.85 L115,677.35 L114.75,677.35 L111.75,677.35 L111.5,677.35 L111.5,676.85 L111.75,676.85 L114.75,676.85 Z M108.75,676.85 L109,676.85 L109,677.35 L108.75,677.35 L105.75,677.35 L105.5,677.35 L105.5,676.85 L105.75,676.85 L108.75,676.85 Z M102.75,676.85 L103,676.85 L103,677.35 L102.75,677.35 L99.75,677.35 L99.5,677.35 L99.5,676.85 L99.75,676.85 L102.75,676.85 Z M96.75,676.85 L97,676.85 L97,677.35 L96.75,677.35 L93.75,677.35 L93.5,677.35 L93.5,676.85 L93.75,676.85 L96.75,676.85 Z M90.75,676.85 L91,676.85 L91,677.35 L90.75,677.35 L87.75,677.35 L87.5,677.35 L87.5,676.85 L87.75,676.85 L90.75,676.85 Z M84.75,676.85 L85,676.85 L85,677.35 L84.75,677.35 L81.75,677.35 L81.5,677.35 L81.5,676.85 L81.75,676.85 L84.75,676.85 Z M78.75,676.85 L79,676.85 L79,677.35 L78.75,677.35 L75.75,677.35 L75.5,677.35 L75.5,676.85 L75.75,676.85 L78.75,676.85 Z M72.75,676.85 L73,676.85 L73,677.35 L72.75,677.35 L69.75,677.35 L69.5,677.35 L69.5,676.85 L69.75,676.85 L72.75,676.85 Z M66.75,676.85 L67,676.85 L67,677.35 L66.75,677.35 L63.75,677.35 L63.5,677.35 L63.5,676.85 L63.75,676.85 L66.75,676.85 Z M60.75,676.85 L61,676.85 L61,677.35 L60.75,677.35 L57.75,677.35 L57.5,677.35 L57.5,676.85 L57.75,676.85 L60.75,676.85 Z M54.75,676.85 L55,676.85 L55,677.35 L54.75,677.35 L51.75,677.35 L51.5,677.35 L51.5,676.85 L51.75,676.85 L54.75,676.85 Z M48.75,676.85 L49,676.85 L49,677.35 L48.75,677.35 L45.75,677.35 L45.5,677.35 L45.5,676.85 L45.75,676.85 L48.75,676.85 Z M42.75,676.85 L43,676.85 L43,677.35 L42.75,677.35 L39.75,677.35 L39.5,677.35 L39.5,676.85 L39.75,676.85 L42.75,676.85 Z M36.75,676.85 L37,676.85 L37,677.35 L36.75,677.35 L35.625,677.35 L33.75,677.35 L33.5,677.35 L33.5,676.85 L33.75,676.85 L35.625,676.85 L36.75,676.85 Z"></path> </g> </g> </svg>',
				arrow:
					'<svg width="1239px" height="8px" viewBox="0 0 1239 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Aplinka" transform="translate(-100.000000, -404.000000)" fill="#C1A47A" fill-rule="nonzero"> <path id="Line-Copy-2" d="M1336.89187,407.85 L1331.72368,404.942894 L1331.50578,404.820329 L1331.75091,404.384541 L1331.96881,404.507106 L1337.96881,407.882106 L1338.35617,408.1 L1337.96881,408.317894 L1331.96881,411.692894 L1331.75091,411.815459 L1331.50578,411.379671 L1331.72368,411.257106 L1336.89187,408.35 L1334.22124,408.35 L1333.97124,408.35 L1333.97124,407.85 L1334.22124,407.85 L1336.89187,407.85 Z M101.194733,408.1 L106.807366,411.257106 L107.02526,411.379671 L106.780129,411.815459 L106.562235,411.692894 L100.562235,408.317894 L100.174868,408.1 L100.562235,407.882106 L106.562235,404.507106 L106.780129,404.384541 L107.02526,404.820329 L106.807366,404.942894 L101.194733,408.1 Z M1331.22124,407.85 L1331.47124,407.85 L1331.47124,408.35 L1331.22124,408.35 L1328.22124,408.35 L1327.97124,408.35 L1327.97124,407.85 L1328.22124,407.85 L1331.22124,407.85 Z M1325.22124,407.85 L1325.47124,407.85 L1325.47124,408.35 L1325.22124,408.35 L1322.22124,408.35 L1321.97124,408.35 L1321.97124,407.85 L1322.22124,407.85 L1325.22124,407.85 Z M1319.22124,407.85 L1319.47124,407.85 L1319.47124,408.35 L1319.22124,408.35 L1316.22124,408.35 L1315.97124,408.35 L1315.97124,407.85 L1316.22124,407.85 L1319.22124,407.85 Z M1313.22124,407.85 L1313.47124,407.85 L1313.47124,408.35 L1313.22124,408.35 L1310.22124,408.35 L1309.97124,408.35 L1309.97124,407.85 L1310.22124,407.85 L1313.22124,407.85 Z M1307.22124,407.85 L1307.47124,407.85 L1307.47124,408.35 L1307.22124,408.35 L1304.22124,408.35 L1303.97124,408.35 L1303.97124,407.85 L1304.22124,407.85 L1307.22124,407.85 Z M1301.22124,407.85 L1301.47124,407.85 L1301.47124,408.35 L1301.22124,408.35 L1298.22124,408.35 L1297.97124,408.35 L1297.97124,407.85 L1298.22124,407.85 L1301.22124,407.85 Z M1295.22124,407.85 L1295.47124,407.85 L1295.47124,408.35 L1295.22124,408.35 L1292.22124,408.35 L1291.97124,408.35 L1291.97124,407.85 L1292.22124,407.85 L1295.22124,407.85 Z M1289.22124,407.85 L1289.47124,407.85 L1289.47124,408.35 L1289.22124,408.35 L1286.22124,408.35 L1285.97124,408.35 L1285.97124,407.85 L1286.22124,407.85 L1289.22124,407.85 Z M1283.22124,407.85 L1283.47124,407.85 L1283.47124,408.35 L1283.22124,408.35 L1280.22124,408.35 L1279.97124,408.35 L1279.97124,407.85 L1280.22124,407.85 L1283.22124,407.85 Z M1277.22124,407.85 L1277.47124,407.85 L1277.47124,408.35 L1277.22124,408.35 L1274.22124,408.35 L1273.97124,408.35 L1273.97124,407.85 L1274.22124,407.85 L1277.22124,407.85 Z M1271.22124,407.85 L1271.47124,407.85 L1271.47124,408.35 L1271.22124,408.35 L1268.22124,408.35 L1267.97124,408.35 L1267.97124,407.85 L1268.22124,407.85 L1271.22124,407.85 Z M1265.22124,407.85 L1265.47124,407.85 L1265.47124,408.35 L1265.22124,408.35 L1262.22124,408.35 L1261.97124,408.35 L1261.97124,407.85 L1262.22124,407.85 L1265.22124,407.85 Z M1259.22124,407.85 L1259.47124,407.85 L1259.47124,408.35 L1259.22124,408.35 L1256.22124,408.35 L1255.97124,408.35 L1255.97124,407.85 L1256.22124,407.85 L1259.22124,407.85 Z M1253.22124,407.85 L1253.47124,407.85 L1253.47124,408.35 L1253.22124,408.35 L1250.22124,408.35 L1249.97124,408.35 L1249.97124,407.85 L1250.22124,407.85 L1253.22124,407.85 Z M1247.22124,407.85 L1247.47124,407.85 L1247.47124,408.35 L1247.22124,408.35 L1244.22124,408.35 L1243.97124,408.35 L1243.97124,407.85 L1244.22124,407.85 L1247.22124,407.85 Z M1241.22124,407.85 L1241.47124,407.85 L1241.47124,408.35 L1241.22124,408.35 L1238.22124,408.35 L1237.97124,408.35 L1237.97124,407.85 L1238.22124,407.85 L1241.22124,407.85 Z M1235.22124,407.85 L1235.47124,407.85 L1235.47124,408.35 L1235.22124,408.35 L1232.22124,408.35 L1231.97124,408.35 L1231.97124,407.85 L1232.22124,407.85 L1235.22124,407.85 Z M1229.22124,407.85 L1229.47124,407.85 L1229.47124,408.35 L1229.22124,408.35 L1226.22124,408.35 L1225.97124,408.35 L1225.97124,407.85 L1226.22124,407.85 L1229.22124,407.85 Z M1223.22124,407.85 L1223.47124,407.85 L1223.47124,408.35 L1223.22124,408.35 L1220.22124,408.35 L1219.97124,408.35 L1219.97124,407.85 L1220.22124,407.85 L1223.22124,407.85 Z M1217.22124,407.85 L1217.47124,407.85 L1217.47124,408.35 L1217.22124,408.35 L1214.22124,408.35 L1213.97124,408.35 L1213.97124,407.85 L1214.22124,407.85 L1217.22124,407.85 Z M1211.22124,407.85 L1211.47124,407.85 L1211.47124,408.35 L1211.22124,408.35 L1208.22124,408.35 L1207.97124,408.35 L1207.97124,407.85 L1208.22124,407.85 L1211.22124,407.85 Z M1205.22124,407.85 L1205.47124,407.85 L1205.47124,408.35 L1205.22124,408.35 L1202.22124,408.35 L1201.97124,408.35 L1201.97124,407.85 L1202.22124,407.85 L1205.22124,407.85 Z M1199.22124,407.85 L1199.47124,407.85 L1199.47124,408.35 L1199.22124,408.35 L1196.22124,408.35 L1195.97124,408.35 L1195.97124,407.85 L1196.22124,407.85 L1199.22124,407.85 Z M1193.22124,407.85 L1193.47124,407.85 L1193.47124,408.35 L1193.22124,408.35 L1190.22124,408.35 L1189.97124,408.35 L1189.97124,407.85 L1190.22124,407.85 L1193.22124,407.85 Z M1187.22124,407.85 L1187.47124,407.85 L1187.47124,408.35 L1187.22124,408.35 L1184.22124,408.35 L1183.97124,408.35 L1183.97124,407.85 L1184.22124,407.85 L1187.22124,407.85 Z M1181.22124,407.85 L1181.47124,407.85 L1181.47124,408.35 L1181.22124,408.35 L1178.22124,408.35 L1177.97124,408.35 L1177.97124,407.85 L1178.22124,407.85 L1181.22124,407.85 Z M1175.22124,407.85 L1175.47124,407.85 L1175.47124,408.35 L1175.22124,408.35 L1172.22124,408.35 L1171.97124,408.35 L1171.97124,407.85 L1172.22124,407.85 L1175.22124,407.85 Z M1169.22124,407.85 L1169.47124,407.85 L1169.47124,408.35 L1169.22124,408.35 L1166.22124,408.35 L1165.97124,408.35 L1165.97124,407.85 L1166.22124,407.85 L1169.22124,407.85 Z M1163.22124,407.85 L1163.47124,407.85 L1163.47124,408.35 L1163.22124,408.35 L1160.22124,408.35 L1159.97124,408.35 L1159.97124,407.85 L1160.22124,407.85 L1163.22124,407.85 Z M1157.22124,407.85 L1157.47124,407.85 L1157.47124,408.35 L1157.22124,408.35 L1154.22124,408.35 L1153.97124,408.35 L1153.97124,407.85 L1154.22124,407.85 L1157.22124,407.85 Z M1151.22124,407.85 L1151.47124,407.85 L1151.47124,408.35 L1151.22124,408.35 L1148.22124,408.35 L1147.97124,408.35 L1147.97124,407.85 L1148.22124,407.85 L1151.22124,407.85 Z M1145.22124,407.85 L1145.47124,407.85 L1145.47124,408.35 L1145.22124,408.35 L1142.22124,408.35 L1141.97124,408.35 L1141.97124,407.85 L1142.22124,407.85 L1145.22124,407.85 Z M1139.22124,407.85 L1139.47124,407.85 L1139.47124,408.35 L1139.22124,408.35 L1136.22124,408.35 L1135.97124,408.35 L1135.97124,407.85 L1136.22124,407.85 L1139.22124,407.85 Z M1133.22124,407.85 L1133.47124,407.85 L1133.47124,408.35 L1133.22124,408.35 L1130.22124,408.35 L1129.97124,408.35 L1129.97124,407.85 L1130.22124,407.85 L1133.22124,407.85 Z M1127.22124,407.85 L1127.47124,407.85 L1127.47124,408.35 L1127.22124,408.35 L1124.22124,408.35 L1123.97124,408.35 L1123.97124,407.85 L1124.22124,407.85 L1127.22124,407.85 Z M1121.22124,407.85 L1121.47124,407.85 L1121.47124,408.35 L1121.22124,408.35 L1118.22124,408.35 L1117.97124,408.35 L1117.97124,407.85 L1118.22124,407.85 L1121.22124,407.85 Z M1115.22124,407.85 L1115.47124,407.85 L1115.47124,408.35 L1115.22124,408.35 L1112.22124,408.35 L1111.97124,408.35 L1111.97124,407.85 L1112.22124,407.85 L1115.22124,407.85 Z M1109.22124,407.85 L1109.47124,407.85 L1109.47124,408.35 L1109.22124,408.35 L1106.22124,408.35 L1105.97124,408.35 L1105.97124,407.85 L1106.22124,407.85 L1109.22124,407.85 Z M1103.22124,407.85 L1103.47124,407.85 L1103.47124,408.35 L1103.22124,408.35 L1100.22124,408.35 L1099.97124,408.35 L1099.97124,407.85 L1100.22124,407.85 L1103.22124,407.85 Z M1097.22124,407.85 L1097.47124,407.85 L1097.47124,408.35 L1097.22124,408.35 L1094.22124,408.35 L1093.97124,408.35 L1093.97124,407.85 L1094.22124,407.85 L1097.22124,407.85 Z M1091.22124,407.85 L1091.47124,407.85 L1091.47124,408.35 L1091.22124,408.35 L1088.22124,408.35 L1087.97124,408.35 L1087.97124,407.85 L1088.22124,407.85 L1091.22124,407.85 Z M1085.22124,407.85 L1085.47124,407.85 L1085.47124,408.35 L1085.22124,408.35 L1082.22124,408.35 L1081.97124,408.35 L1081.97124,407.85 L1082.22124,407.85 L1085.22124,407.85 Z M1079.22124,407.85 L1079.47124,407.85 L1079.47124,408.35 L1079.22124,408.35 L1076.22124,408.35 L1075.97124,408.35 L1075.97124,407.85 L1076.22124,407.85 L1079.22124,407.85 Z M1073.22124,407.85 L1073.47124,407.85 L1073.47124,408.35 L1073.22124,408.35 L1070.22124,408.35 L1069.97124,408.35 L1069.97124,407.85 L1070.22124,407.85 L1073.22124,407.85 Z M1067.22124,407.85 L1067.47124,407.85 L1067.47124,408.35 L1067.22124,408.35 L1064.22124,408.35 L1063.97124,408.35 L1063.97124,407.85 L1064.22124,407.85 L1067.22124,407.85 Z M1061.22124,407.85 L1061.47124,407.85 L1061.47124,408.35 L1061.22124,408.35 L1058.22124,408.35 L1057.97124,408.35 L1057.97124,407.85 L1058.22124,407.85 L1061.22124,407.85 Z M1055.22124,407.85 L1055.47124,407.85 L1055.47124,408.35 L1055.22124,408.35 L1052.22124,408.35 L1051.97124,408.35 L1051.97124,407.85 L1052.22124,407.85 L1055.22124,407.85 Z M1049.22124,407.85 L1049.47124,407.85 L1049.47124,408.35 L1049.22124,408.35 L1046.22124,408.35 L1045.97124,408.35 L1045.97124,407.85 L1046.22124,407.85 L1049.22124,407.85 Z M1043.22124,407.85 L1043.47124,407.85 L1043.47124,408.35 L1043.22124,408.35 L1040.22124,408.35 L1039.97124,408.35 L1039.97124,407.85 L1040.22124,407.85 L1043.22124,407.85 Z M1037.22124,407.85 L1037.47124,407.85 L1037.47124,408.35 L1037.22124,408.35 L1034.22124,408.35 L1033.97124,408.35 L1033.97124,407.85 L1034.22124,407.85 L1037.22124,407.85 Z M1031.22124,407.85 L1031.47124,407.85 L1031.47124,408.35 L1031.22124,408.35 L1028.22124,408.35 L1027.97124,408.35 L1027.97124,407.85 L1028.22124,407.85 L1031.22124,407.85 Z M1025.22124,407.85 L1025.47124,407.85 L1025.47124,408.35 L1025.22124,408.35 L1022.22124,408.35 L1021.97124,408.35 L1021.97124,407.85 L1022.22124,407.85 L1025.22124,407.85 Z M1019.22124,407.85 L1019.47124,407.85 L1019.47124,408.35 L1019.22124,408.35 L1016.22124,408.35 L1015.97124,408.35 L1015.97124,407.85 L1016.22124,407.85 L1019.22124,407.85 Z M1013.22124,407.85 L1013.47124,407.85 L1013.47124,408.35 L1013.22124,408.35 L1010.22124,408.35 L1009.97124,408.35 L1009.97124,407.85 L1010.22124,407.85 L1013.22124,407.85 Z M1007.22124,407.85 L1007.47124,407.85 L1007.47124,408.35 L1007.22124,408.35 L1004.22124,408.35 L1003.97124,408.35 L1003.97124,407.85 L1004.22124,407.85 L1007.22124,407.85 Z M1001.22124,407.85 L1001.47124,407.85 L1001.47124,408.35 L1001.22124,408.35 L998.221242,408.35 L997.971242,408.35 L997.971242,407.85 L998.221242,407.85 L1001.22124,407.85 Z M995.221242,407.85 L995.471242,407.85 L995.471242,408.35 L995.221242,408.35 L992.221242,408.35 L991.971242,408.35 L991.971242,407.85 L992.221242,407.85 L995.221242,407.85 Z M989.221242,407.85 L989.471242,407.85 L989.471242,408.35 L989.221242,408.35 L986.221242,408.35 L985.971242,408.35 L985.971242,407.85 L986.221242,407.85 L989.221242,407.85 Z M983.221242,407.85 L983.471242,407.85 L983.471242,408.35 L983.221242,408.35 L980.221242,408.35 L979.971242,408.35 L979.971242,407.85 L980.221242,407.85 L983.221242,407.85 Z M977.221242,407.85 L977.471242,407.85 L977.471242,408.35 L977.221242,408.35 L974.221242,408.35 L973.971242,408.35 L973.971242,407.85 L974.221242,407.85 L977.221242,407.85 Z M971.221242,407.85 L971.471242,407.85 L971.471242,408.35 L971.221242,408.35 L968.221242,408.35 L967.971242,408.35 L967.971242,407.85 L968.221242,407.85 L971.221242,407.85 Z M965.221242,407.85 L965.471242,407.85 L965.471242,408.35 L965.221242,408.35 L962.221242,408.35 L961.971242,408.35 L961.971242,407.85 L962.221242,407.85 L965.221242,407.85 Z M959.221242,407.85 L959.471242,407.85 L959.471242,408.35 L959.221242,408.35 L956.221242,408.35 L955.971242,408.35 L955.971242,407.85 L956.221242,407.85 L959.221242,407.85 Z M953.221242,407.85 L953.471242,407.85 L953.471242,408.35 L953.221242,408.35 L950.221242,408.35 L949.971242,408.35 L949.971242,407.85 L950.221242,407.85 L953.221242,407.85 Z M947.221242,407.85 L947.471242,407.85 L947.471242,408.35 L947.221242,408.35 L944.221242,408.35 L943.971242,408.35 L943.971242,407.85 L944.221242,407.85 L947.221242,407.85 Z M941.221242,407.85 L941.471242,407.85 L941.471242,408.35 L941.221242,408.35 L938.221242,408.35 L937.971242,408.35 L937.971242,407.85 L938.221242,407.85 L941.221242,407.85 Z M935.221242,407.85 L935.471242,407.85 L935.471242,408.35 L935.221242,408.35 L932.221242,408.35 L931.971242,408.35 L931.971242,407.85 L932.221242,407.85 L935.221242,407.85 Z M929.221242,407.85 L929.471242,407.85 L929.471242,408.35 L929.221242,408.35 L926.221242,408.35 L925.971242,408.35 L925.971242,407.85 L926.221242,407.85 L929.221242,407.85 Z M923.221242,407.85 L923.471242,407.85 L923.471242,408.35 L923.221242,408.35 L920.221242,408.35 L919.971242,408.35 L919.971242,407.85 L920.221242,407.85 L923.221242,407.85 Z M917.221242,407.85 L917.471242,407.85 L917.471242,408.35 L917.221242,408.35 L914.221242,408.35 L913.971242,408.35 L913.971242,407.85 L914.221242,407.85 L917.221242,407.85 Z M911.221242,407.85 L911.471242,407.85 L911.471242,408.35 L911.221242,408.35 L908.221242,408.35 L907.971242,408.35 L907.971242,407.85 L908.221242,407.85 L911.221242,407.85 Z M905.221242,407.85 L905.471242,407.85 L905.471242,408.35 L905.221242,408.35 L902.221242,408.35 L901.971242,408.35 L901.971242,407.85 L902.221242,407.85 L905.221242,407.85 Z M899.221242,407.85 L899.471242,407.85 L899.471242,408.35 L899.221242,408.35 L896.221242,408.35 L895.971242,408.35 L895.971242,407.85 L896.221242,407.85 L899.221242,407.85 Z M893.221242,407.85 L893.471242,407.85 L893.471242,408.35 L893.221242,408.35 L890.221242,408.35 L889.971242,408.35 L889.971242,407.85 L890.221242,407.85 L893.221242,407.85 Z M887.221242,407.85 L887.471242,407.85 L887.471242,408.35 L887.221242,408.35 L884.221242,408.35 L883.971242,408.35 L883.971242,407.85 L884.221242,407.85 L887.221242,407.85 Z M881.221242,407.85 L881.471242,407.85 L881.471242,408.35 L881.221242,408.35 L878.221242,408.35 L877.971242,408.35 L877.971242,407.85 L878.221242,407.85 L881.221242,407.85 Z M875.221242,407.85 L875.471242,407.85 L875.471242,408.35 L875.221242,408.35 L872.221242,408.35 L871.971242,408.35 L871.971242,407.85 L872.221242,407.85 L875.221242,407.85 Z M869.221242,407.85 L869.471242,407.85 L869.471242,408.35 L869.221242,408.35 L866.221242,408.35 L865.971242,408.35 L865.971242,407.85 L866.221242,407.85 L869.221242,407.85 Z M863.221242,407.85 L863.471242,407.85 L863.471242,408.35 L863.221242,408.35 L860.221242,408.35 L859.971242,408.35 L859.971242,407.85 L860.221242,407.85 L863.221242,407.85 Z M857.221242,407.85 L857.471242,407.85 L857.471242,408.35 L857.221242,408.35 L854.221242,408.35 L853.971242,408.35 L853.971242,407.85 L854.221242,407.85 L857.221242,407.85 Z M851.221242,407.85 L851.471242,407.85 L851.471242,408.35 L851.221242,408.35 L848.221242,408.35 L847.971242,408.35 L847.971242,407.85 L848.221242,407.85 L851.221242,407.85 Z M845.221242,407.85 L845.471242,407.85 L845.471242,408.35 L845.221242,408.35 L842.221242,408.35 L841.971242,408.35 L841.971242,407.85 L842.221242,407.85 L845.221242,407.85 Z M839.221242,407.85 L839.471242,407.85 L839.471242,408.35 L839.221242,408.35 L836.221242,408.35 L835.971242,408.35 L835.971242,407.85 L836.221242,407.85 L839.221242,407.85 Z M833.221242,407.85 L833.471242,407.85 L833.471242,408.35 L833.221242,408.35 L830.221242,408.35 L829.971242,408.35 L829.971242,407.85 L830.221242,407.85 L833.221242,407.85 Z M827.221242,407.85 L827.471242,407.85 L827.471242,408.35 L827.221242,408.35 L824.221242,408.35 L823.971242,408.35 L823.971242,407.85 L824.221242,407.85 L827.221242,407.85 Z M821.221242,407.85 L821.471242,407.85 L821.471242,408.35 L821.221242,408.35 L818.221242,408.35 L817.971242,408.35 L817.971242,407.85 L818.221242,407.85 L821.221242,407.85 Z M815.221242,407.85 L815.471242,407.85 L815.471242,408.35 L815.221242,408.35 L812.221242,408.35 L811.971242,408.35 L811.971242,407.85 L812.221242,407.85 L815.221242,407.85 Z M809.221242,407.85 L809.471242,407.85 L809.471242,408.35 L809.221242,408.35 L806.221242,408.35 L805.971242,408.35 L805.971242,407.85 L806.221242,407.85 L809.221242,407.85 Z M803.221242,407.85 L803.471242,407.85 L803.471242,408.35 L803.221242,408.35 L800.221242,408.35 L799.971242,408.35 L799.971242,407.85 L800.221242,407.85 L803.221242,407.85 Z M797.221242,407.85 L797.471242,407.85 L797.471242,408.35 L797.221242,408.35 L794.221242,408.35 L793.971242,408.35 L793.971242,407.85 L794.221242,407.85 L797.221242,407.85 Z M791.221242,407.85 L791.471242,407.85 L791.471242,408.35 L791.221242,408.35 L788.221242,408.35 L787.971242,408.35 L787.971242,407.85 L788.221242,407.85 L791.221242,407.85 Z M785.221242,407.85 L785.471242,407.85 L785.471242,408.35 L785.221242,408.35 L782.221242,408.35 L781.971242,408.35 L781.971242,407.85 L782.221242,407.85 L785.221242,407.85 Z M779.221242,407.85 L779.471242,407.85 L779.471242,408.35 L779.221242,408.35 L776.221242,408.35 L775.971242,408.35 L775.971242,407.85 L776.221242,407.85 L779.221242,407.85 Z M773.221242,407.85 L773.471242,407.85 L773.471242,408.35 L773.221242,408.35 L770.221242,408.35 L769.971242,408.35 L769.971242,407.85 L770.221242,407.85 L773.221242,407.85 Z M767.221242,407.85 L767.471242,407.85 L767.471242,408.35 L767.221242,408.35 L764.221242,408.35 L763.971242,408.35 L763.971242,407.85 L764.221242,407.85 L767.221242,407.85 Z M761.221242,407.85 L761.471242,407.85 L761.471242,408.35 L761.221242,408.35 L758.221242,408.35 L757.971242,408.35 L757.971242,407.85 L758.221242,407.85 L761.221242,407.85 Z M755.221242,407.85 L755.471242,407.85 L755.471242,408.35 L755.221242,408.35 L752.221242,408.35 L751.971242,408.35 L751.971242,407.85 L752.221242,407.85 L755.221242,407.85 Z M749.221242,407.85 L749.471242,407.85 L749.471242,408.35 L749.221242,408.35 L746.221242,408.35 L745.971242,408.35 L745.971242,407.85 L746.221242,407.85 L749.221242,407.85 Z M743.221242,407.85 L743.471242,407.85 L743.471242,408.35 L743.221242,408.35 L740.221242,408.35 L739.971242,408.35 L739.971242,407.85 L740.221242,407.85 L743.221242,407.85 Z M737.221242,407.85 L737.471242,407.85 L737.471242,408.35 L737.221242,408.35 L734.221242,408.35 L733.971242,408.35 L733.971242,407.85 L734.221242,407.85 L737.221242,407.85 Z M731.221242,407.85 L731.471242,407.85 L731.471242,408.35 L731.221242,408.35 L728.221242,408.35 L727.971242,408.35 L727.971242,407.85 L728.221242,407.85 L731.221242,407.85 Z M725.221242,407.85 L725.471242,407.85 L725.471242,408.35 L725.221242,408.35 L722.221242,408.35 L721.971242,408.35 L721.971242,407.85 L722.221242,407.85 L725.221242,407.85 Z M719.221242,407.85 L719.471242,407.85 L719.471242,408.35 L719.221242,408.35 L716.221242,408.35 L715.971242,408.35 L715.971242,407.85 L716.221242,407.85 L719.221242,407.85 Z M713.221242,407.85 L713.471242,407.85 L713.471242,408.35 L713.221242,408.35 L710.221242,408.35 L709.971242,408.35 L709.971242,407.85 L710.221242,407.85 L713.221242,407.85 Z M707.221242,407.85 L707.471242,407.85 L707.471242,408.35 L707.221242,408.35 L704.221242,408.35 L703.971242,408.35 L703.971242,407.85 L704.221242,407.85 L707.221242,407.85 Z M701.221242,407.85 L701.471242,407.85 L701.471242,408.35 L701.221242,408.35 L698.221242,408.35 L697.971242,408.35 L697.971242,407.85 L698.221242,407.85 L701.221242,407.85 Z M695.221242,407.85 L695.471242,407.85 L695.471242,408.35 L695.221242,408.35 L692.221242,408.35 L691.971242,408.35 L691.971242,407.85 L692.221242,407.85 L695.221242,407.85 Z M689.221242,407.85 L689.471242,407.85 L689.471242,408.35 L689.221242,408.35 L686.221242,408.35 L685.971242,408.35 L685.971242,407.85 L686.221242,407.85 L689.221242,407.85 Z M683.221242,407.85 L683.471242,407.85 L683.471242,408.35 L683.221242,408.35 L680.221242,408.35 L679.971242,408.35 L679.971242,407.85 L680.221242,407.85 L683.221242,407.85 Z M677.221242,407.85 L677.471242,407.85 L677.471242,408.35 L677.221242,408.35 L674.221242,408.35 L673.971242,408.35 L673.971242,407.85 L674.221242,407.85 L677.221242,407.85 Z M671.221242,407.85 L671.471242,407.85 L671.471242,408.35 L671.221242,408.35 L668.221242,408.35 L667.971242,408.35 L667.971242,407.85 L668.221242,407.85 L671.221242,407.85 Z M665.221242,407.85 L665.471242,407.85 L665.471242,408.35 L665.221242,408.35 L662.221242,408.35 L661.971242,408.35 L661.971242,407.85 L662.221242,407.85 L665.221242,407.85 Z M659.221242,407.85 L659.471242,407.85 L659.471242,408.35 L659.221242,408.35 L656.221242,408.35 L655.971242,408.35 L655.971242,407.85 L656.221242,407.85 L659.221242,407.85 Z M653.221242,407.85 L653.471242,407.85 L653.471242,408.35 L653.221242,408.35 L650.221242,408.35 L649.971242,408.35 L649.971242,407.85 L650.221242,407.85 L653.221242,407.85 Z M647.221242,407.85 L647.471242,407.85 L647.471242,408.35 L647.221242,408.35 L644.221242,408.35 L643.971242,408.35 L643.971242,407.85 L644.221242,407.85 L647.221242,407.85 Z M641.221242,407.85 L641.471242,407.85 L641.471242,408.35 L641.221242,408.35 L638.221242,408.35 L637.971242,408.35 L637.971242,407.85 L638.221242,407.85 L641.221242,407.85 Z M635.221242,407.85 L635.471242,407.85 L635.471242,408.35 L635.221242,408.35 L632.221242,408.35 L631.971242,408.35 L631.971242,407.85 L632.221242,407.85 L635.221242,407.85 Z M629.221242,407.85 L629.471242,407.85 L629.471242,408.35 L629.221242,408.35 L626.221242,408.35 L625.971242,408.35 L625.971242,407.85 L626.221242,407.85 L629.221242,407.85 Z M623.221242,407.85 L623.471242,407.85 L623.471242,408.35 L623.221242,408.35 L620.221242,408.35 L619.971242,408.35 L619.971242,407.85 L620.221242,407.85 L623.221242,407.85 Z M617.221242,407.85 L617.471242,407.85 L617.471242,408.35 L617.221242,408.35 L614.221242,408.35 L613.971242,408.35 L613.971242,407.85 L614.221242,407.85 L617.221242,407.85 Z M611.221242,407.85 L611.471242,407.85 L611.471242,408.35 L611.221242,408.35 L608.221242,408.35 L607.971242,408.35 L607.971242,407.85 L608.221242,407.85 L611.221242,407.85 Z M605.221242,407.85 L605.471242,407.85 L605.471242,408.35 L605.221242,408.35 L602.221242,408.35 L601.971242,408.35 L601.971242,407.85 L602.221242,407.85 L605.221242,407.85 Z M599.221242,407.85 L599.471242,407.85 L599.471242,408.35 L599.221242,408.35 L596.221242,408.35 L595.971242,408.35 L595.971242,407.85 L596.221242,407.85 L599.221242,407.85 Z M593.221242,407.85 L593.471242,407.85 L593.471242,408.35 L593.221242,408.35 L590.221242,408.35 L589.971242,408.35 L589.971242,407.85 L590.221242,407.85 L593.221242,407.85 Z M587.221242,407.85 L587.471242,407.85 L587.471242,408.35 L587.221242,408.35 L584.221242,408.35 L583.971242,408.35 L583.971242,407.85 L584.221242,407.85 L587.221242,407.85 Z M581.221242,407.85 L581.471242,407.85 L581.471242,408.35 L581.221242,408.35 L578.221242,408.35 L577.971242,408.35 L577.971242,407.85 L578.221242,407.85 L581.221242,407.85 Z M575.221242,407.85 L575.471242,407.85 L575.471242,408.35 L575.221242,408.35 L572.221242,408.35 L571.971242,408.35 L571.971242,407.85 L572.221242,407.85 L575.221242,407.85 Z M569.221242,407.85 L569.471242,407.85 L569.471242,408.35 L569.221242,408.35 L566.221242,408.35 L565.971242,408.35 L565.971242,407.85 L566.221242,407.85 L569.221242,407.85 Z M563.221242,407.85 L563.471242,407.85 L563.471242,408.35 L563.221242,408.35 L560.221242,408.35 L559.971242,408.35 L559.971242,407.85 L560.221242,407.85 L563.221242,407.85 Z M557.221242,407.85 L557.471242,407.85 L557.471242,408.35 L557.221242,408.35 L554.221242,408.35 L553.971242,408.35 L553.971242,407.85 L554.221242,407.85 L557.221242,407.85 Z M551.221242,407.85 L551.471242,407.85 L551.471242,408.35 L551.221242,408.35 L548.221242,408.35 L547.971242,408.35 L547.971242,407.85 L548.221242,407.85 L551.221242,407.85 Z M545.221242,407.85 L545.471242,407.85 L545.471242,408.35 L545.221242,408.35 L542.221242,408.35 L541.971242,408.35 L541.971242,407.85 L542.221242,407.85 L545.221242,407.85 Z M539.221242,407.85 L539.471242,407.85 L539.471242,408.35 L539.221242,408.35 L536.221242,408.35 L535.971242,408.35 L535.971242,407.85 L536.221242,407.85 L539.221242,407.85 Z M533.221242,407.85 L533.471242,407.85 L533.471242,408.35 L533.221242,408.35 L530.221242,408.35 L529.971242,408.35 L529.971242,407.85 L530.221242,407.85 L533.221242,407.85 Z M527.221242,407.85 L527.471242,407.85 L527.471242,408.35 L527.221242,408.35 L524.221242,408.35 L523.971242,408.35 L523.971242,407.85 L524.221242,407.85 L527.221242,407.85 Z M521.221242,407.85 L521.471242,407.85 L521.471242,408.35 L521.221242,408.35 L518.221242,408.35 L517.971242,408.35 L517.971242,407.85 L518.221242,407.85 L521.221242,407.85 Z M515.221242,407.85 L515.471242,407.85 L515.471242,408.35 L515.221242,408.35 L512.221242,408.35 L511.971242,408.35 L511.971242,407.85 L512.221242,407.85 L515.221242,407.85 Z M509.221242,407.85 L509.471242,407.85 L509.471242,408.35 L509.221242,408.35 L506.221242,408.35 L505.971242,408.35 L505.971242,407.85 L506.221242,407.85 L509.221242,407.85 Z M503.221242,407.85 L503.471242,407.85 L503.471242,408.35 L503.221242,408.35 L500.221242,408.35 L499.971242,408.35 L499.971242,407.85 L500.221242,407.85 L503.221242,407.85 Z M497.221242,407.85 L497.471242,407.85 L497.471242,408.35 L497.221242,408.35 L494.221242,408.35 L493.971242,408.35 L493.971242,407.85 L494.221242,407.85 L497.221242,407.85 Z M491.221242,407.85 L491.471242,407.85 L491.471242,408.35 L491.221242,408.35 L488.221242,408.35 L487.971242,408.35 L487.971242,407.85 L488.221242,407.85 L491.221242,407.85 Z M485.221242,407.85 L485.471242,407.85 L485.471242,408.35 L485.221242,408.35 L482.221242,408.35 L481.971242,408.35 L481.971242,407.85 L482.221242,407.85 L485.221242,407.85 Z M479.221242,407.85 L479.471242,407.85 L479.471242,408.35 L479.221242,408.35 L476.221242,408.35 L475.971242,408.35 L475.971242,407.85 L476.221242,407.85 L479.221242,407.85 Z M473.221242,407.85 L473.471242,407.85 L473.471242,408.35 L473.221242,408.35 L470.221242,408.35 L469.971242,408.35 L469.971242,407.85 L470.221242,407.85 L473.221242,407.85 Z M467.221242,407.85 L467.471242,407.85 L467.471242,408.35 L467.221242,408.35 L464.221242,408.35 L463.971242,408.35 L463.971242,407.85 L464.221242,407.85 L467.221242,407.85 Z M461.221242,407.85 L461.471242,407.85 L461.471242,408.35 L461.221242,408.35 L458.221242,408.35 L457.971242,408.35 L457.971242,407.85 L458.221242,407.85 L461.221242,407.85 Z M455.221242,407.85 L455.471242,407.85 L455.471242,408.35 L455.221242,408.35 L452.221242,408.35 L451.971242,408.35 L451.971242,407.85 L452.221242,407.85 L455.221242,407.85 Z M449.221242,407.85 L449.471242,407.85 L449.471242,408.35 L449.221242,408.35 L446.221242,408.35 L445.971242,408.35 L445.971242,407.85 L446.221242,407.85 L449.221242,407.85 Z M443.221242,407.85 L443.471242,407.85 L443.471242,408.35 L443.221242,408.35 L440.221242,408.35 L439.971242,408.35 L439.971242,407.85 L440.221242,407.85 L443.221242,407.85 Z M437.221242,407.85 L437.471242,407.85 L437.471242,408.35 L437.221242,408.35 L434.221242,408.35 L433.971242,408.35 L433.971242,407.85 L434.221242,407.85 L437.221242,407.85 Z M431.221242,407.85 L431.471242,407.85 L431.471242,408.35 L431.221242,408.35 L428.221242,408.35 L427.971242,408.35 L427.971242,407.85 L428.221242,407.85 L431.221242,407.85 Z M425.221242,407.85 L425.471242,407.85 L425.471242,408.35 L425.221242,408.35 L422.221242,408.35 L421.971242,408.35 L421.971242,407.85 L422.221242,407.85 L425.221242,407.85 Z M419.221242,407.85 L419.471242,407.85 L419.471242,408.35 L419.221242,408.35 L416.221242,408.35 L415.971242,408.35 L415.971242,407.85 L416.221242,407.85 L419.221242,407.85 Z M413.221242,407.85 L413.471242,407.85 L413.471242,408.35 L413.221242,408.35 L410.221242,408.35 L409.971242,408.35 L409.971242,407.85 L410.221242,407.85 L413.221242,407.85 Z M407.221242,407.85 L407.471242,407.85 L407.471242,408.35 L407.221242,408.35 L404.221242,408.35 L403.971242,408.35 L403.971242,407.85 L404.221242,407.85 L407.221242,407.85 Z M401.221242,407.85 L401.471242,407.85 L401.471242,408.35 L401.221242,408.35 L398.221242,408.35 L397.971242,408.35 L397.971242,407.85 L398.221242,407.85 L401.221242,407.85 Z M395.221242,407.85 L395.471242,407.85 L395.471242,408.35 L395.221242,408.35 L392.221242,408.35 L391.971242,408.35 L391.971242,407.85 L392.221242,407.85 L395.221242,407.85 Z M389.221242,407.85 L389.471242,407.85 L389.471242,408.35 L389.221242,408.35 L386.221242,408.35 L385.971242,408.35 L385.971242,407.85 L386.221242,407.85 L389.221242,407.85 Z M383.221242,407.85 L383.471242,407.85 L383.471242,408.35 L383.221242,408.35 L380.221242,408.35 L379.971242,408.35 L379.971242,407.85 L380.221242,407.85 L383.221242,407.85 Z M377.221242,407.85 L377.471242,407.85 L377.471242,408.35 L377.221242,408.35 L374.221242,408.35 L373.971242,408.35 L373.971242,407.85 L374.221242,407.85 L377.221242,407.85 Z M371.221242,407.85 L371.471242,407.85 L371.471242,408.35 L371.221242,408.35 L368.221242,408.35 L367.971242,408.35 L367.971242,407.85 L368.221242,407.85 L371.221242,407.85 Z M365.221242,407.85 L365.471242,407.85 L365.471242,408.35 L365.221242,408.35 L362.221242,408.35 L361.971242,408.35 L361.971242,407.85 L362.221242,407.85 L365.221242,407.85 Z M359.221242,407.85 L359.471242,407.85 L359.471242,408.35 L359.221242,408.35 L356.221242,408.35 L355.971242,408.35 L355.971242,407.85 L356.221242,407.85 L359.221242,407.85 Z M353.221242,407.85 L353.471242,407.85 L353.471242,408.35 L353.221242,408.35 L350.221242,408.35 L349.971242,408.35 L349.971242,407.85 L350.221242,407.85 L353.221242,407.85 Z M347.221242,407.85 L347.471242,407.85 L347.471242,408.35 L347.221242,408.35 L344.221242,408.35 L343.971242,408.35 L343.971242,407.85 L344.221242,407.85 L347.221242,407.85 Z M341.221242,407.85 L341.471242,407.85 L341.471242,408.35 L341.221242,408.35 L338.221242,408.35 L337.971242,408.35 L337.971242,407.85 L338.221242,407.85 L341.221242,407.85 Z M335.221242,407.85 L335.471242,407.85 L335.471242,408.35 L335.221242,408.35 L332.221242,408.35 L331.971242,408.35 L331.971242,407.85 L332.221242,407.85 L335.221242,407.85 Z M329.221242,407.85 L329.471242,407.85 L329.471242,408.35 L329.221242,408.35 L326.221242,408.35 L325.971242,408.35 L325.971242,407.85 L326.221242,407.85 L329.221242,407.85 Z M323.221242,407.85 L323.471242,407.85 L323.471242,408.35 L323.221242,408.35 L320.221242,408.35 L319.971242,408.35 L319.971242,407.85 L320.221242,407.85 L323.221242,407.85 Z M317.221242,407.85 L317.471242,407.85 L317.471242,408.35 L317.221242,408.35 L314.221242,408.35 L313.971242,408.35 L313.971242,407.85 L314.221242,407.85 L317.221242,407.85 Z M311.221242,407.85 L311.471242,407.85 L311.471242,408.35 L311.221242,408.35 L308.221242,408.35 L307.971242,408.35 L307.971242,407.85 L308.221242,407.85 L311.221242,407.85 Z M305.221242,407.85 L305.471242,407.85 L305.471242,408.35 L305.221242,408.35 L302.221242,408.35 L301.971242,408.35 L301.971242,407.85 L302.221242,407.85 L305.221242,407.85 Z M299.221242,407.85 L299.471242,407.85 L299.471242,408.35 L299.221242,408.35 L296.221242,408.35 L295.971242,408.35 L295.971242,407.85 L296.221242,407.85 L299.221242,407.85 Z M293.221242,407.85 L293.471242,407.85 L293.471242,408.35 L293.221242,408.35 L290.221242,408.35 L289.971242,408.35 L289.971242,407.85 L290.221242,407.85 L293.221242,407.85 Z M287.221242,407.85 L287.471242,407.85 L287.471242,408.35 L287.221242,408.35 L284.221242,408.35 L283.971242,408.35 L283.971242,407.85 L284.221242,407.85 L287.221242,407.85 Z M281.221242,407.85 L281.471242,407.85 L281.471242,408.35 L281.221242,408.35 L278.221242,408.35 L277.971242,408.35 L277.971242,407.85 L278.221242,407.85 L281.221242,407.85 Z M275.221242,407.85 L275.471242,407.85 L275.471242,408.35 L275.221242,408.35 L272.221242,408.35 L271.971242,408.35 L271.971242,407.85 L272.221242,407.85 L275.221242,407.85 Z M269.221242,407.85 L269.471242,407.85 L269.471242,408.35 L269.221242,408.35 L266.221242,408.35 L265.971242,408.35 L265.971242,407.85 L266.221242,407.85 L269.221242,407.85 Z M263.221242,407.85 L263.471242,407.85 L263.471242,408.35 L263.221242,408.35 L260.221242,408.35 L259.971242,408.35 L259.971242,407.85 L260.221242,407.85 L263.221242,407.85 Z M257.221242,407.85 L257.471242,407.85 L257.471242,408.35 L257.221242,408.35 L254.221242,408.35 L253.971242,408.35 L253.971242,407.85 L254.221242,407.85 L257.221242,407.85 Z M251.221242,407.85 L251.471242,407.85 L251.471242,408.35 L251.221242,408.35 L248.221242,408.35 L247.971242,408.35 L247.971242,407.85 L248.221242,407.85 L251.221242,407.85 Z M245.221242,407.85 L245.471242,407.85 L245.471242,408.35 L245.221242,408.35 L242.221242,408.35 L241.971242,408.35 L241.971242,407.85 L242.221242,407.85 L245.221242,407.85 Z M239.221242,407.85 L239.471242,407.85 L239.471242,408.35 L239.221242,408.35 L236.221242,408.35 L235.971242,408.35 L235.971242,407.85 L236.221242,407.85 L239.221242,407.85 Z M233.221242,407.85 L233.471242,407.85 L233.471242,408.35 L233.221242,408.35 L230.221242,408.35 L229.971242,408.35 L229.971242,407.85 L230.221242,407.85 L233.221242,407.85 Z M227.221242,407.85 L227.471242,407.85 L227.471242,408.35 L227.221242,408.35 L224.221242,408.35 L223.971242,408.35 L223.971242,407.85 L224.221242,407.85 L227.221242,407.85 Z M221.221242,407.85 L221.471242,407.85 L221.471242,408.35 L221.221242,408.35 L218.221242,408.35 L217.971242,408.35 L217.971242,407.85 L218.221242,407.85 L221.221242,407.85 Z M215.221242,407.85 L215.471242,407.85 L215.471242,408.35 L215.221242,408.35 L212.221242,408.35 L211.971242,408.35 L211.971242,407.85 L212.221242,407.85 L215.221242,407.85 Z M209.221242,407.85 L209.471242,407.85 L209.471242,408.35 L209.221242,408.35 L206.221242,408.35 L205.971242,408.35 L205.971242,407.85 L206.221242,407.85 L209.221242,407.85 Z M203.221242,407.85 L203.471242,407.85 L203.471242,408.35 L203.221242,408.35 L200.221242,408.35 L199.971242,408.35 L199.971242,407.85 L200.221242,407.85 L203.221242,407.85 Z M197.221242,407.85 L197.471242,407.85 L197.471242,408.35 L197.221242,408.35 L194.221242,408.35 L193.971242,408.35 L193.971242,407.85 L194.221242,407.85 L197.221242,407.85 Z M191.221242,407.85 L191.471242,407.85 L191.471242,408.35 L191.221242,408.35 L188.221242,408.35 L187.971242,408.35 L187.971242,407.85 L188.221242,407.85 L191.221242,407.85 Z M185.221242,407.85 L185.471242,407.85 L185.471242,408.35 L185.221242,408.35 L182.221242,408.35 L181.971242,408.35 L181.971242,407.85 L182.221242,407.85 L185.221242,407.85 Z M179.221242,407.85 L179.471242,407.85 L179.471242,408.35 L179.221242,408.35 L176.221242,408.35 L175.971242,408.35 L175.971242,407.85 L176.221242,407.85 L179.221242,407.85 Z M173.221242,407.85 L173.471242,407.85 L173.471242,408.35 L173.221242,408.35 L170.221242,408.35 L169.971242,408.35 L169.971242,407.85 L170.221242,407.85 L173.221242,407.85 Z M167.221242,407.85 L167.471242,407.85 L167.471242,408.35 L167.221242,408.35 L164.221242,408.35 L163.971242,408.35 L163.971242,407.85 L164.221242,407.85 L167.221242,407.85 Z M161.221242,407.85 L161.471242,407.85 L161.471242,408.35 L161.221242,408.35 L158.221242,408.35 L157.971242,408.35 L157.971242,407.85 L158.221242,407.85 L161.221242,407.85 Z M155.221242,407.85 L155.471242,407.85 L155.471242,408.35 L155.221242,408.35 L152.221242,408.35 L151.971242,408.35 L151.971242,407.85 L152.221242,407.85 L155.221242,407.85 Z M149.221242,407.85 L149.471242,407.85 L149.471242,408.35 L149.221242,408.35 L146.221242,408.35 L145.971242,408.35 L145.971242,407.85 L146.221242,407.85 L149.221242,407.85 Z M143.221242,407.85 L143.471242,407.85 L143.471242,408.35 L143.221242,408.35 L140.221242,408.35 L139.971242,408.35 L139.971242,407.85 L140.221242,407.85 L143.221242,407.85 Z M137.221242,407.85 L137.471242,407.85 L137.471242,408.35 L137.221242,408.35 L134.221242,408.35 L133.971242,408.35 L133.971242,407.85 L134.221242,407.85 L137.221242,407.85 Z M131.221242,407.85 L131.471242,407.85 L131.471242,408.35 L131.221242,408.35 L128.221242,408.35 L127.971242,408.35 L127.971242,407.85 L128.221242,407.85 L131.221242,407.85 Z M125.221242,407.85 L125.471242,407.85 L125.471242,408.35 L125.221242,408.35 L122.221242,408.35 L121.971242,408.35 L121.971242,407.85 L122.221242,407.85 L125.221242,407.85 Z M119.221242,407.85 L119.471242,407.85 L119.471242,408.35 L119.221242,408.35 L116.221242,408.35 L115.971242,408.35 L115.971242,407.85 L116.221242,407.85 L119.221242,407.85 Z M113.221242,407.85 L113.471242,407.85 L113.471242,408.35 L113.221242,408.35 L110.221242,408.35 L109.971242,408.35 L109.971242,407.85 L110.221242,407.85 L113.221242,407.85 Z M107.221242,407.85 L107.471242,407.85 L107.471242,408.35 L107.221242,408.35 L106.684801,408.35 L104.221242,408.35 L103.971242,408.35 L103.971242,407.85 L104.221242,407.85 L106.684801,407.85 L107.221242,407.85 Z"></path> </g> </g> </svg>',
			},
			statistics: [
				{
					title: "Restoranai",
					distance: "3km",
					icon:
						' <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Aplinka" transform="translate(-211.000000, -449.000000)" fill="#C1A47A"> <g id="Group-21" transform="translate(211.000000, 449.000000)"> <path d="M40.849,25.374 C40.6325,26.48325 39.842,27.393375 38.774,27.763 C38.368625,27.915375 38.1075,28.311375 38.127,28.744 L38.887,45.625 C38.922,45.956125 38.81275,46.28625 38.587,46.531 C37.984875,47.127125 37.015125,47.127125 36.413,46.531 C36.176,46.2665 36.068375,45.9105 36.119,45.559 L36.873,28.744 C36.8925,28.311375 36.631375,27.915375 36.226,27.763 C35.158,27.393375 34.3675,26.48325 34.151,25.374 C33.8835,23.8515 33.97775,22.287375 34.426,20.808 L35.068,18.694 C35.56475,17.350875 37.05625,16.66475 38.3995,17.1615 C39.109625,17.424125 39.669375,17.984 39.932,18.694 L40.574,20.808 C41.02175,22.2875 41.116,23.8515 40.849,25.374 M42.488,20.222 L41.846,18.109 C41.0305,15.70875 38.423625,14.424125 36.023375,15.239625 C34.673125,15.698375 33.61275,16.75875 33.154,18.109 L32.512,20.222 C31.97175,22.004 31.858375,23.888125 32.181,25.722 C32.47525,27.266 33.4555,28.5925 34.845,29.327 L34.126,45.4 C34.02975,46.297125 34.32075,47.19275 34.926,47.862 C36.227625,49.28575 38.437125,49.38475 39.860875,48.083125 C39.937875,48.01275 40.011625,47.939 40.082,47.862 C40.67375,47.21175 40.96425,46.342375 40.882,45.467 L40.159,29.325 C41.546625,28.590125 42.52525,27.2645 42.819,25.722 C43.141625,23.888125 43.02825,22.004 42.488,20.222" id="Fill-1"></path> <path d="M27,15 C26.44775,15 26,15.44775 26,16 L26,24.586 L23.293,27.293 C23.09275,27.4925 22.98625,27.767625 23,28.05 L23.875,45.55 C23.895875,45.927375 23.758875,46.2965 23.497,46.569 C22.949625,47.12125 22.058125,47.12525 21.50575,46.57775 C21.50275,46.574875 21.499875,46.571875 21.497,46.569 C21.235,46.2965 21.098125,45.927375 21.119,45.55 L22,28.05 C22.014,27.76775 21.907875,27.49275 21.708,27.293 L19,24.586 L19,16 C19,15.44775 18.55225,15 18,15 C17.44775,15 17,15.44775 17,16 L17,25 C17,25.26525 17.1055,25.5195 17.293,25.707 L19.979,28.394 L19.126,45.453 C19.03525,47.316375 20.47225,48.900625 22.335625,48.991375 C24.199,49.082125 25.78325,47.645125 25.874,45.78175 C25.879375,45.67225 25.879375,45.562625 25.874,45.453125 L25.021,28.394125 L27.707,25.707125 C27.8945,25.519625 28,25.265375 28,25.000125 L28,16.000125 C28,15.44775 27.55225,15 27,15" id="Fill-3"></path> <path d="M21,15 C20.44775,15 20,15.44775 20,16 L20,24 C20,24.55225 20.44775,25 21,25 C21.55225,25 22,24.55225 22,24 L22,16 C22,15.44775 21.55225,15 21,15" id="Fill-5"></path> <path d="M24,15 C23.44775,15 23,15.44775 23,16 L23,24 C23,24.55225 23.44775,25 24,25 C24.55225,25 25,24.55225 25,24 L25,16 C25,15.44775 24.55225,15 24,15" id="Fill-7"></path> <path d="M30,58 C14.536,58 2,45.464 2,30 C2,14.536 14.536,2 30,2 C45.464,2 58,14.536 58,30 C57.982375,45.456625 45.456625,57.982375 30,58 M30,0 C13.4315,0 0,13.4315 0,30 C0,46.5685 13.4315,60 30,60 C46.5685,60 60,46.5685 60,30 C59.98125,13.43925 46.56075,0.01875 30,0" id="Fill-9"></path> <path d="M33.246125,48.7715 C33.1925,48.221875 32.703375,47.81975 32.153625,47.873375 C32.14075,47.874625 32.127875,47.876125 32.115,47.877875 L32.119,47.876875 C30.711125,48.040375 29.288875,48.040375 27.881,47.876875 C27.33225,47.8125 26.835375,48.205125 26.771,48.753875 C26.706625,49.302625 27.09925,49.7995 27.648,49.863875 C29.209375,50.04625 30.786625,50.04625 32.348,49.863875 C32.897625,49.810375 33.29975,49.32125 33.246125,48.7715" id="Fill-11"></path> <path d="M45.3,17.114 C44.945125,16.690875 44.314375,16.6355 43.89125,16.9905 C43.889875,16.991625 43.8885,16.992875 43.887,16.994 C43.464875,17.35 43.411125,17.98075 43.767,18.403 C49.796375,25.5605 49.335125,36.144125 42.706,42.75 C42.31475,43.139875 42.313625,43.77325 42.7035,44.1645 C43.093375,44.55575 43.72675,44.556875 44.118,44.167 C51.485125,36.827875 51.998875,25.067625 45.3,17.114" id="Fill-13"></path> <path d="M23.299,13.218 C23.298375,13.218 23.29775,13.217875 23.297125,13.217875 C23.296125,13.217875 23.295125,13.218 23.294,13.218 L23.299,13.218 Z" id="Fill-15"></path> <path d="M34.717,10.559 C30.808875,9.622375 26.710125,9.874125 22.946,11.282 C22.429,11.476375 22.167625,12.053125 22.362,12.57 C22.5085,12.959625 22.881,13.2175 23.297125,13.217875 C23.41675,13.21725 23.53525,13.195375 23.647,13.153 C27.03675,11.885375 30.72775,11.659 34.247,12.503 C34.783875,12.63275 35.32425,12.302875 35.454,11.766 C35.58375,11.229125 35.253875,10.68875 34.717,10.559" id="Fill-17"></path> <path d="M17.249,42.7 C13.877875,39.334625 11.9885,34.7635 12,30 C11.990125,26.19425 13.195625,22.48475 15.441,19.412 C15.772875,18.9705 15.684,18.343625 15.2425,18.01175 C14.801,17.679875 14.174125,17.76875 13.84225,18.21025 C13.836375,18.218125 13.830625,18.226 13.825,18.234 C8.043375,26.1825 8.894125,37.153875 15.832,44.116 C16.223,44.50725 16.85725,44.5075 17.2485,44.1165 C17.63975,43.7255 17.64,43.09125 17.249,42.7" id="Fill-19"></path> </g> </g> </g> </svg>',
				},
				{
					title: "Mažųjų laivų uostas",
					distance: "3km",
					icon:
						'<svg width="64px" height="60px" viewBox="0 0 64 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Aplinka" transform="translate(-523.000000, -449.000000)" fill="#C1A47A"> <g id="Group-11" transform="translate(523.000000, 449.000000)"> <path d="M53.0858168,54.0065839 C53.0821988,54.0136646 53.0797037,54.0209938 53.0763353,54.028323 C53.0668538,54.0481988 53.0578713,54.0684472 53.0495127,54.0890683 C53.0443977,54.1017391 53.0400312,54.1145342 53.0354152,54.127205 C53.0289279,54.1457143 53.0226901,54.1643478 53.0172008,54.183354 C53.0127096,54.1990062 53.0088421,54.2147826 53.0049747,54.230559 C53.0011072,54.2465839 52.9974893,54.2628571 52.9944951,54.2791304 C52.9908772,54.2982609 52.9881326,54.3171429 52.9856374,54.3362733 C52.9838908,54.3501863 52.9820195,54.3638509 52.9808967,54.3778882 C52.9789006,54.3995031 52.978152,54.4208696 52.9775283,54.4424845 C52.9774035,54.4506832 52.9762807,54.458882 52.9762807,54.467205 C52.9764055,56.3229814 51.460117,57.832795 49.5963821,57.832795 C47.7326472,57.832795 46.2163587,56.3229814 46.2163587,54.467205 C46.2163587,53.8982609 45.7531384,53.4368944 45.1816296,53.4368944 C44.6102456,53.4368944 44.1469006,53.8981366 44.1469006,54.467205 C44.1469006,56.3229814 42.6306121,57.832795 40.7668772,57.832795 C38.9031423,57.832795 37.3868538,56.3229814 37.3868538,54.467205 C37.3868538,53.8982609 36.9236335,53.4368944 36.3521248,53.4368944 C35.7807407,53.4368944 35.3173957,53.8981366 35.3173957,54.467205 C35.3173957,56.3229814 33.8011072,57.832795 31.9373723,57.832795 C30.0736374,57.832795 28.5573489,56.3229814 28.5573489,54.467205 C28.5573489,53.8982609 28.0941287,53.4368944 27.5226199,53.4368944 C26.9512359,53.4368944 26.4878908,53.8981366 26.4878908,54.467205 C26.4878908,56.3229814 24.9716023,57.832795 23.1078674,57.832795 C21.2441326,57.832795 19.7278441,56.3229814 19.7278441,54.467205 C19.7278441,53.8982609 19.2646238,53.4368944 18.693115,53.4368944 C18.121731,53.4368944 17.658386,53.8981366 17.658386,54.467205 C17.658386,56.3229814 16.1420975,57.832795 14.2783626,57.832795 C12.4146277,57.832795 10.8983392,56.3229814 10.8983392,54.467205 C10.8983392,54.4587578 10.8972164,54.4508075 10.8970916,54.4424845 C10.8965926,54.4208696 10.8957193,54.3995031 10.893848,54.3778882 C10.8926004,54.3638509 10.8908538,54.3500621 10.8891072,54.3362733 C10.8866121,54.3171429 10.8838674,54.2981366 10.8802495,54.2791304 C10.8772554,54.2626087 10.8735127,54.2465839 10.86977,54.230559 C10.8660273,54.2147826 10.8620351,54.1990062 10.8575439,54.183354 C10.8520546,54.1643478 10.8458168,54.1457143 10.8393294,54.127205 C10.8348382,54.1144099 10.830347,54.1016149 10.825232,54.0890683 C10.8171228,54.0684472 10.8080156,54.048323 10.7984094,54.028323 C10.7949162,54.0212422 10.7924211,54.0137888 10.7889279,54.0065839 L8.77922807,50.0027329 L10.9679532,50.0027329 C11.5393372,50.0027329 12.0026823,49.5414907 12.0026823,48.9724224 C12.0026823,48.4034783 11.539462,47.9421118 10.9679532,47.9421118 L7.74449903,47.9421118 L7.1237115,46.7058385 L56.7517817,46.7058385 L56.1309942,47.9421118 L47.3893177,47.9421118 C46.8179337,47.9421118 46.3545887,48.403354 46.3545887,48.9724224 C46.3545887,49.5413665 46.817809,50.0027329 47.3893177,50.0027329 L55.0963899,50.0027329 L53.0858168,54.0065839 Z M15.4126472,39.150559 L30.9030175,21.004472 L30.9030175,39.150559 L15.4126472,39.150559 Z M32.9724756,2.06049689 L38.2692554,2.06049689 L37.8282417,2.49962733 C37.4241559,2.90186335 37.4241559,3.55440994 37.8282417,3.95652174 L38.2692554,4.39565217 L32.9724756,4.39565217 L32.9724756,2.06049689 Z M62.8406394,53.4370186 C62.2692554,53.4370186 61.8059103,53.8982609 61.8059103,54.4673292 C61.8059103,56.3231056 60.2896218,57.8329193 58.4258869,57.8329193 C56.6386277,57.8329193 55.1717427,56.4440994 55.0544717,54.6935404 L59.3513294,46.1362733 C59.6895439,45.4628571 59.180538,44.6452174 58.4258869,44.6452174 L32.9724756,44.6452174 L32.9724756,41.2109317 L55.1149786,41.2109317 C55.9499727,41.2109317 56.4448811,40.2291925 55.9427368,39.5624845 L40.10754,18.5393789 C39.7693255,18.0901863 39.1101131,17.9965217 38.6589942,18.3332919 C38.208,18.6700621 38.113809,19.3265839 38.4520234,19.7756522 L53.0455205,39.150559 L32.9724756,39.150559 L32.9724756,18.2014907 L32.9724756,12.5006211 L36.1346745,16.698882 C36.4776296,17.1541615 37.1262378,17.2463354 37.5832203,16.9049689 C38.0403275,16.5636025 38.1330214,15.9176398 37.790191,15.4626087 L32.9724756,9.0663354 L32.9724756,6.45639752 L40.7671267,6.45639752 C41.6689903,6.45639752 42.1373255,5.33341615 41.4986979,4.69763975 L40.0229552,3.22819876 L41.4986979,1.75875776 C42.1372008,1.12298137 41.669115,0 40.7671267,0 L31.9377466,0 C31.3663626,0 30.9030175,0.461242236 30.9030175,1.03031056 L30.9030175,17.8228571 L12.3869318,39.5135404 C11.8265263,40.1699379 12.312078,41.2110559 13.1752671,41.2110559 L30.9030175,41.2110559 L30.9030175,44.6453416 L5.44948148,44.6453416 C4.69483041,44.6453416 4.18582456,45.4628571 4.52403899,46.1363975 L8.82089669,54.6936646 C8.70362573,56.4442236 7.23674074,57.8330435 5.44948148,57.8330435 C3.58574659,57.8330435 2.06945809,56.3232298 2.06945809,54.4674534 C2.06945809,53.8985093 1.60623782,53.4371429 1.03472904,53.4371429 C0.463345029,53.4371429 0,53.8983851 0,54.4674534 C0,57.4593789 2.44460039,59.8935404 5.44935673,59.8935404 C7.26306433,59.8935404 8.87292008,59.0064596 9.86410916,57.6452174 C10.8551735,59.0064596 12.4650292,59.8935404 14.2788616,59.8935404 C16.092694,59.8935404 17.702425,59.0064596 18.693614,57.6452174 C19.6846784,59.0064596 21.2945341,59.8935404 23.1083665,59.8935404 C24.9220741,59.8935404 26.5319298,59.0064596 27.5231189,57.6452174 C28.5141832,59.0064596 30.124039,59.8935404 31.9378713,59.8935404 C33.7517037,59.8935404 35.3614347,59.0064596 36.3526238,57.6452174 C37.3436881,59.0064596 38.9535439,59.8935404 40.7673762,59.8935404 C42.5810838,59.8935404 44.1909396,59.0064596 45.1821287,57.6452174 C46.173193,59.0064596 47.7830487,59.8935404 49.5968811,59.8935404 C51.4105887,59.8935404 53.0204444,59.0064596 54.0116335,57.6452174 C55.0026979,59.0064596 56.6125536,59.8935404 58.426386,59.8935404 C61.4311423,59.8935404 63.8757427,57.4593789 63.8757427,54.4674534 C63.8753684,53.8983851 63.4121481,53.4370186 62.8406394,53.4370186 Z" id="Fill-1"></path> <path d="M39.6635322,47.942236 L15.3825809,47.942236 C14.8111969,47.942236 14.3478519,48.4034783 14.3478519,48.9725466 C14.3478519,49.5414907 14.8110721,50.0028571 15.3825809,50.0028571 L39.6634074,50.0028571 C40.2347914,50.0028571 40.6981365,49.5416149 40.6981365,48.9725466 C40.6981365,48.4034783 40.2349162,47.942236 39.6635322,47.942236" id="Fill-3"></path> <path d="M15.3825809,52.3381366 L12.3475088,52.3381366 C11.7761248,52.3381366 11.3127797,52.7993789 11.3127797,53.3684472 C11.3127797,53.9373913 11.776,54.3987578 12.3475088,54.3987578 L15.3825809,54.3987578 C15.9539649,54.3987578 16.4173099,53.9375155 16.4173099,53.3684472 C16.4173099,52.7993789 15.9540897,52.3381366 15.3825809,52.3381366" id="Fill-5"></path> <path d="M33.1793216,52.3381366 L30.8340273,52.3381366 C30.2626433,52.3381366 29.7992982,52.7993789 29.7992982,53.3684472 C29.7992982,53.9373913 30.2625185,54.3987578 30.8340273,54.3987578 L33.1793216,54.3987578 C33.7507057,54.3987578 34.2140507,53.9375155 34.2140507,53.3684472 C34.2140507,52.7993789 33.7508304,52.3381366 33.1793216,52.3381366" id="Fill-7"></path> <path d="M51.8039454,52.3381366 L49.5966316,52.3381366 C49.0252476,52.3381366 48.5619025,52.7993789 48.5619025,53.3684472 C48.5619025,53.9373913 49.0251228,54.3987578 49.5966316,54.3987578 L51.8039454,54.3987578 C52.3753294,54.3987578 52.8386745,53.9375155 52.8386745,53.3684472 C52.8385497,52.7993789 52.3753294,52.3381366 51.8039454,52.3381366" id="Fill-9"></path> </g> </g> </g> </svg>',
				},
				{
					title: "Buriavimo mokykla",
					distance: "3km",
					icon:
						' <svg width="54px" height="60px" viewBox="0 0 54 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Aplinka" transform="translate(-852.000000, -449.000000)" fill="#C1A47A"> <g id="Group-9" transform="translate(852.000000, 449.000000)"> <path d="M27,57.65625 C13.4067913,57.65625 2.34782609,46.6164844 2.34782609,33.046875 C2.34782609,19.4772656 13.4067913,8.4375 27,8.4375 C40.5932087,8.4375 51.6521739,19.4772656 51.6521739,33.046875 C51.6521739,46.6164844 40.5932087,57.65625 27,57.65625 Z M25.1217391,4.21875 C25.1217391,3.18492187 25.9643739,2.34375 27,2.34375 C28.0356261,2.34375 28.8782609,3.18492187 28.8782609,4.21875 C28.8782609,5.25257813 28.0356261,6.09375 27,6.09375 C25.9643739,6.09375 25.1217391,5.25257813 25.1217391,4.21875 Z M46.0918174,13.9880859 C41.8633826,9.76699219 36.4788783,7.1203125 30.6514565,6.33855469 C31.0160739,5.71523437 31.226087,4.99125 31.226087,4.21875 C31.226087,1.89246094 29.3303348,0 27,0 C24.6696652,0 22.773913,1.89246094 22.773913,4.21875 C22.773913,4.99125 22.9839261,5.71523437 23.3485435,6.33855469 C17.5211217,7.1203125 12.1366174,9.766875 7.90818261,13.9880859 C2.80846957,19.0789453 0,25.8473438 0,33.046875 C0,40.2464063 2.80846957,47.0148047 7.90818261,52.1056641 C13.0077783,57.1964063 19.7880652,60 27,60 C34.2119348,60 40.9922217,57.1964063 46.0918174,52.1056641 C51.1915304,47.0148047 54,40.2462891 54,33.046875 C54,25.8474609 51.1915304,19.0789453 46.0918174,13.9880859 Z" id="Fill-1"></path> <path d="M28.173913,51.7591406 L28.173913,49.453125 C28.173913,48.8060156 27.6483522,48.28125 27,48.28125 C26.3516478,48.28125 25.826087,48.8060156 25.826087,49.453125 L25.826087,51.7591406 C16.9570565,51.2104687 9.7349087,44.4907031 8.42869565,35.859375 L10.5652174,35.859375 C11.2135696,35.859375 11.7391304,35.3346094 11.7391304,34.6875 C11.7391304,34.0403906 11.2135696,33.515625 10.5652174,33.515625 L8.22337826,33.515625 C8.21950435,33.3597656 8.2173913,33.2035547 8.2173913,33.046875 C8.2173913,23.1017578 16.0141696,14.9416406 25.826087,14.3346094 L25.826087,16.640625 C25.826087,17.2878516 26.3516478,17.8125 27,17.8125 C27.6483522,17.8125 28.173913,17.2878516 28.173913,16.640625 L28.173913,14.3346094 C37.5973826,14.9177344 45.160787,22.4678906 45.7448087,31.875 L43.4347826,31.875 C42.7864304,31.875 42.2608696,32.3997656 42.2608696,33.046875 C42.2608696,33.6939844 42.7864304,34.21875 43.4347826,34.21875 L45.7448087,34.21875 C45.160787,43.6258594 37.5973826,51.1761328 28.173913,51.7591406 Z M27,11.953125 C15.3486783,11.953125 5.86956522,21.4157812 5.86956522,33.046875 C5.86956522,33.4934766 5.88517826,33.9364453 5.91276522,34.37625 C5.88541304,34.4755078 5.86956522,34.5795703 5.86956522,34.6875 C5.86956522,34.8612891 5.90853913,35.0257031 5.9765087,35.1740625 C7.0484087,45.81 16.0678174,54.140625 27,54.140625 C38.6513217,54.140625 48.1304348,44.6779688 48.1304348,33.046875 C48.1304348,21.4157812 38.6513217,11.953125 27,11.953125 Z" id="Fill-3"></path> <path d="M29.7416739,37.9959375 C30.254087,37.7251172 30.7288174,37.3766016 31.1503696,36.9557813 C31.5587739,36.5480859 31.8990913,36.0904687 32.1666261,35.5972266 L34.7964261,40.6287891 L29.7416739,37.9959375 Z M24.2263957,27.6457031 C23.7261913,27.9141797 23.2624957,28.2570703 22.849513,28.6692187 C22.4366478,29.0814844 22.0930435,29.544375 21.8242174,30.0437109 L19.2034565,25.0294922 L24.2263957,27.6457031 Z M27,36.328125 C26.0593435,36.328125 25.1749174,35.9625 24.5097783,35.2983984 C23.8446391,34.6344141 23.4782609,33.7515234 23.4782609,32.8125 C23.4782609,31.8734766 23.8446391,30.9905859 24.5097783,30.3266016 C25.1749174,29.6625 26.0593435,29.296875 27,29.296875 C27.9406565,29.296875 28.8250826,29.6625 29.4902217,30.3266016 C30.1554783,30.9905859 30.5217391,31.8734766 30.5217391,32.8125 C30.5217391,33.7515234 30.1553609,34.6344141 29.4902217,35.2983984 C28.8250826,35.9625 27.9406565,36.328125 27,36.328125 Z M32.7565174,31.6589062 C32.6086043,30.9154687 32.3174739,30.211875 31.8976826,29.5807031 L37.2214957,24.2661328 C37.6799087,23.8085156 37.6799087,23.0664844 37.2214957,22.60875 C36.7630826,22.15125 36.0197609,22.15125 35.5612304,22.60875 L30.2374174,27.9233203 C29.6218174,27.5152734 28.9371913,27.2301562 28.2142957,27.0791016 L16.9778348,21.2266406 C16.5232957,20.9901562 15.9673304,21.075 15.6047087,21.4369922 C15.2422043,21.7989844 15.1568609,22.3538672 15.3941087,22.8077344 L21.2567478,34.0245703 C21.4080652,34.7463281 21.6936783,35.4297656 22.1024348,36.0442969 L16.7786217,41.3588672 C16.3202087,41.8164844 16.3202087,42.5585156 16.7786217,43.01625 C17.007887,43.245 17.3082913,43.3594922 17.6086957,43.3594922 C17.9091,43.3594922 18.2096217,43.245 18.4387696,43.01625 L23.7624652,37.7016797 C24.3513,38.0920312 25.0034087,38.3691797 25.6916739,38.5249219 C25.7179696,38.5413281 25.7443826,38.5576172 25.7723217,38.5722656 L37.0220478,44.4317578 C37.1937913,44.5211719 37.3799739,44.5646484 37.5647478,44.5646484 C37.8690261,44.5646484 38.1695478,44.4466406 38.3951739,44.2214062 C38.7576783,43.8594141 38.8430217,43.3045312 38.6057739,42.8506641 L32.7565174,31.6589062 Z" id="Fill-5"></path> <path d="M27,31.0546875 C27.9724696,31.0546875 28.7608696,31.8417188 28.7608696,32.8125 C28.7608696,33.7832813 27.9724696,34.5703125 27,34.5703125 C26.0275304,34.5703125 25.2391304,33.7832813 25.2391304,32.8125 C25.2391304,31.8417188 26.0275304,31.0546875 27,31.0546875" id="Fill-7"></path> </g> </g> </g> </svg>',
				},
				{
					title: "Miškas",
					distance: "3km",
					icon:
						' <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <polygon id="path-1" points="7.36673391e-07 -5.68434189e-14 59.9995 -5.68434189e-14 59.9995 59.8760083 7.36673391e-07 59.8760083"></polygon> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Aplinka" transform="translate(-1169.000000, -449.000000)"> <g id="Group-3" transform="translate(1169.000000, 449.000000)"> <mask id="mask-2" fill="white"> <use xlink:href="#path-1"></use> </mask> <g id="Clip-2"></g> <path d="M54.638925,35.1238254 C54.653925,35.1460291 54.6698,35.1674844 54.686425,35.1884407 C55.5398,36.2452391 56.0033,37.5624948 55.999425,38.9196674 C55.996175,42.2251559 53.3118,44.9039501 49.999425,44.9071933 L42.28555,44.9071933 C42.34255,44.8572973 42.39355,44.7994179 42.44855,44.747526 C42.55855,44.6477339 42.66555,44.5429522 42.76955,44.4351767 C42.85155,44.3493555 42.93155,44.2605405 43.01055,44.1707277 C43.11055,44.0589605 43.20355,43.9461954 43.29455,43.8284407 C43.36855,43.7346362 43.44055,43.6398337 43.50955,43.5420374 C43.59655,43.421289 43.67855,43.2975468 43.75855,43.1708108 C43.82255,43.0710187 43.88555,42.9712266 43.94455,42.8714345 C44.01955,42.7397089 44.08955,42.6049896 44.15755,42.4722661 C44.20955,42.3674844 44.25755,42.2627027 44.31055,42.1549272 C44.37455,42.0132225 44.42955,41.8665281 44.48455,41.7208316 C44.52555,41.6120582 44.56855,41.5062786 44.60455,41.3955094 C44.65555,41.2398337 44.69655,41.0791684 44.73755,40.919501 C44.76455,40.8137214 44.79655,40.7099376 44.81955,40.6021622 C44.85855,40.4215385 44.88455,40.237921 44.91055,40.0533056 C44.92355,39.9614969 44.94255,39.871684 44.95255,39.7778794 C44.983675,39.4928482 44.999425,39.2063202 44.99955,38.9196674 C45.00455,37.4585863 44.6018,36.024948 43.83655,34.7792931 C45.723925,33.1705198 46.860175,30.8539709 46.97555,28.3796258 L50.70655,24.6563825 C51.0903,24.2599584 51.0793,23.6282744 50.68205,23.2453222 C50.29455,22.8718503 49.680175,22.8718503 49.29255,23.2453222 L46.73155,25.8009979 C46.2838,23.9731809 45.270925,22.3322245 43.83655,21.1107692 C44.602675,19.8637422 45.005425,18.4282328 44.99955,16.9654054 C44.9943,12.9173389 41.957925,9.51180873 37.92955,9.03592516 C38.0303,8.2964657 38.020175,7.54602911 37.89955,6.80956341 C37.88955,6.74170478 37.88055,6.67384615 37.86855,6.60997921 C37.80155,6.22141372 37.705175,5.83846154 37.58055,5.4643659 C37.58055,5.45438669 37.58055,5.44440748 37.57355,5.43442827 C39.003425,2.45126819 42.5858,1.18964657 45.575175,2.61654886 C48.23255,3.88490644 49.574175,6.89089397 48.74155,9.71051975 C48.64755,10.0191268 48.7098,10.3541788 48.90855,10.6086486 C49.1038,10.8663617 49.414175,11.0109356 49.73755,10.9948441 L49.99955,10.9778794 C53.311925,10.9811227 55.9963,13.6599168 55.99955,16.9654054 C56.003425,18.322578 55.539925,19.6398337 54.68655,20.696632 C54.341925,21.1272349 54.4123,21.7551767 54.8438,22.09921 C54.864675,22.1159252 54.8863,22.1317672 54.90855,22.1466112 C58.116175,24.3001247 58.967175,28.6407069 56.809175,31.8417879 C56.3043,32.5906029 55.658925,33.2347609 54.90855,33.7384615 C54.450675,34.0466944 54.33005,34.667027 54.638925,35.1238254 Z M30.99955,57.8801663 L41.99955,57.8801663 L41.99955,46.9030353 L30.99955,46.9030353 L30.99955,57.8801663 Z M29.99955,12.9737214 C29.4473,12.9737214 28.99955,13.4205405 28.99955,13.9716424 L28.99955,21.0429106 L24.45655,16.5093555 C24.0593,16.1265281 23.426175,16.1375052 23.04255,16.5339293 C22.6683,16.9206237 22.6683,17.5337214 23.04255,17.9204158 L28.99955,23.8650312 L28.99955,37.5086071 L24.70655,33.2245322 C24.3093,32.84158 23.6763,32.8525572 23.29255,33.2489813 C22.9183,33.6356757 22.9183,34.2487734 23.29255,34.6355925 L28.99955,40.3307277 L28.99955,44.9071933 L22.99955,44.9071933 C19.687175,44.9039501 17.0028,42.2251559 16.99955,38.9196674 C16.995675,37.5624948 17.459175,36.2452391 18.31255,35.1884407 C18.657175,34.7578378 18.5868,34.129896 18.1553,33.7858628 C18.134425,33.7691476 18.1128,33.7533056 18.09055,33.7384615 C14.882925,31.584948 14.031925,27.2443659 16.1898,24.0432848 C16.694675,23.2944699 17.34005,22.6503119 18.09055,22.1466112 C18.5483,21.8383784 18.66905,21.2180457 18.36005,20.7612474 C18.34505,20.7390437 18.329175,20.7175884 18.31255,20.696632 C17.459175,19.6398337 16.995675,18.322578 16.99955,16.9654054 C17.0028,13.6599168 19.687175,10.9811227 22.99955,10.9778794 L23.25855,10.9918503 C23.5823,11.0098129 23.893425,10.8648649 24.08755,10.6056549 C24.2863,10.351185 24.34855,10.0161331 24.25455,9.70752599 C24.08605,9.14844075 24.00005,8.56790021 23.99955,7.98411642 C24.00005,7.61575884 24.0353,7.24827443 24.10455,6.88640333 C24.10455,6.87243243 24.10455,6.85746362 24.11055,6.84349272 C24.18305,6.48324324 24.2878,6.13022869 24.42355,5.78869023 C25.326425,3.50257796 27.537175,1.99908524 29.99955,1.99659044 C32.461925,1.99908524 34.672675,3.50257796 35.57555,5.78869023 C35.711675,6.13247401 35.816425,6.48785863 35.88855,6.85047817 C35.88855,6.86444906 35.88855,6.87941788 35.89455,6.89338877 C35.963425,7.25288981 35.99855,7.6181289 35.99955,7.98411642 C35.99905,8.56790021 35.91305,9.14844075 35.74455,9.70752599 C35.65055,10.0161331 35.7128,10.351185 35.91155,10.6056549 C36.106425,10.8638669 36.41705,11.0085655 36.74055,10.9918503 L36.99955,10.9778794 C40.311925,10.9811227 42.9963,13.6599168 42.99955,16.9654054 C43.003425,18.322578 42.539925,19.6398337 41.68655,20.696632 C41.341925,21.1272349 41.4123,21.7551767 41.8438,22.09921 C41.864675,22.1159252 41.8863,22.1317672 41.90855,22.1466112 C45.116175,24.3001247 45.967175,28.6407069 43.809175,31.8417879 C43.3043,32.5906029 42.658925,33.2347609 41.90855,33.7384615 C41.4508,34.0466944 41.33005,34.667027 41.63905,35.1238254 C41.65405,35.1460291 41.669925,35.1674844 41.68655,35.1884407 C42.539925,36.2452391 43.003425,37.5624948 42.99955,38.9196674 C42.9963,42.2251559 40.311925,44.9039501 36.99955,44.9071933 L30.99955,44.9071933 L30.99955,31.2805821 C31.074175,31.2437838 31.1438,31.1975052 31.20655,31.142869 L37.70655,24.6563825 C38.0903,24.2599584 38.0793,23.6282744 37.68205,23.2453222 C37.29455,22.8718503 36.680175,22.8718503 36.29255,23.2453222 L30.99955,28.5273181 L30.99955,13.9716424 C30.99955,13.4204158 30.5518,12.9737214 29.99955,12.9737214 Z M17.99955,57.8801663 L28.99955,57.8801663 L28.99955,46.9030353 L17.99955,46.9030353 L17.99955,57.8801663 Z M9.99955,44.8982121 C6.690675,44.8949688 4.0078,42.2216632 3.99955,38.9196674 C3.995675,37.5624948 4.459175,36.2452391 5.31255,35.1884407 C5.657175,34.7578378 5.5868,34.129896 5.1553,33.7858628 C5.134425,33.7691476 5.1128,33.7533056 5.09055,33.7384615 C1.882925,31.584948 1.031925,27.2443659 3.1898,24.0432848 C3.694675,23.2944699 4.34005,22.6503119 5.09055,22.1466112 C5.5483,21.8383784 5.66905,21.2180457 5.36005,20.7612474 C5.34505,20.7390437 5.329175,20.7175884 5.31255,20.696632 C4.459175,19.6398337 3.995675,18.322578 3.99955,16.9654054 C4.0028,13.6599168 6.687175,10.9811227 9.99955,10.9778794 L10.25855,10.9918503 C10.581925,11.0079418 10.8923,10.863368 11.08755,10.6056549 C11.2863,10.351185 11.34855,10.0161331 11.25455,9.70752599 C10.3178,6.5356341 12.135175,3.20644491 15.3138,2.27164241 C18.139425,1.4406237 21.15155,2.7795842 22.42255,5.43143451 C22.42255,5.44141372 22.42255,5.45139293 22.41555,5.46137214 C22.290925,5.83546778 22.19455,6.21841996 22.12755,6.60698545 C22.11555,6.67384615 22.10655,6.74170478 22.09655,6.80656965 C21.976925,7.54328482 21.9678,8.29359667 22.06955,9.03293139 C18.04005,9.50906445 15.0033,12.9160915 14.99955,16.9654054 C14.99455,18.4264865 15.3973,19.8601247 16.16255,21.1057796 C16.14455,21.1217464 16.12955,21.138711 16.11155,21.1546778 L11.45655,16.5093555 C11.0593,16.1265281 10.426175,16.1375052 10.04255,16.5339293 C9.6683,16.9206237 9.6683,17.5337214 10.04255,17.9204158 L14.75455,22.6226195 C11.951675,26.4149688 12.566675,31.7249064 16.16255,34.7792931 C15.776675,35.4073597 15.481675,36.0865696 15.28655,36.7970894 L11.70655,33.2245322 C11.3093,32.84158 10.6763,32.8525572 10.29255,33.2489813 C9.9183,33.6356757 9.9183,34.2487734 10.29255,34.6355925 L15.02155,39.3547609 C15.02955,39.4934719 15.03155,39.6331809 15.04655,39.7688981 C15.05655,39.8627027 15.07555,39.9525156 15.08855,40.0443243 C15.11455,40.2289397 15.14055,40.4125572 15.17955,40.5931809 C15.20255,40.7009563 15.23455,40.8047401 15.26155,40.9105198 C15.30255,41.0701871 15.34355,41.2308524 15.39455,41.3865281 C15.43055,41.4972973 15.47355,41.6030769 15.51455,41.7118503 C15.56955,41.8575468 15.62455,42.0042412 15.68855,42.1459459 C15.73655,42.2537214 15.78855,42.3585031 15.84155,42.4632848 C15.90955,42.6 15.97955,42.7347193 16.05455,42.8624532 C16.11355,42.9622453 16.17655,43.0620374 16.24055,43.1618295 C16.32055,43.2885655 16.40255,43.4123077 16.48955,43.5330561 C16.55855,43.6328482 16.63055,43.7256549 16.70455,43.8194595 C16.79555,43.9372141 16.89055,44.0499792 16.98855,44.1617464 C17.06755,44.2515593 17.14755,44.3403742 17.22955,44.4261954 C17.32955,44.5339709 17.44055,44.6367568 17.55055,44.7385447 C17.60555,44.7904366 17.65655,44.848316 17.71355,44.8982121 L9.99955,44.8982121 Z M59.99955,27.9425364 C60.000675,25.3110187 58.8443,22.8117256 56.83655,21.1057796 C57.6018,19.8601247 58.00455,18.4264865 57.99955,16.9654054 C57.9943,12.9173389 54.957925,9.51180873 50.92955,9.03592516 C50.9763,8.68727651 50.9998,8.33588358 50.99955,7.98411642 C51.009925,3.58490644 47.444675,0.0103534304 43.0363,-7.0906551e-15 C40.4423,-0.00611226611 38.00705,1.24615385 36.50655,3.35775468 C33.96005,-0.228523909 28.982425,-1.0756341 25.388675,1.46557173 C24.654175,1.9849896 24.01305,2.6247817 23.49255,3.35775468 C20.931925,-0.227276507 15.943925,-1.06203742 12.351425,1.49313929 C9.94205,3.20681913 8.6793,6.10914761 9.06955,9.03592516 C5.041175,9.51180873 2.0048,12.9173389 1.99955,16.9654054 C1.99455,18.4264865 2.3973,19.8601247 3.16255,21.1057796 C-0.620575,24.3230769 -1.073825,29.9917672 2.150175,33.767027 C2.460175,34.1301455 2.7988,34.4679418 3.16255,34.7772973 C2.396925,36.0235759 1.994175,37.4578378 1.99955,38.9196674 C2.00455,43.326736 5.5833,46.8980457 9.99955,46.9030353 L15.99955,46.9030353 L15.99955,57.8801663 L12.99955,57.8801663 C12.4473,57.8801663 11.99955,58.3269854 11.99955,58.8780873 C11.99955,59.4291892 12.4473,59.8760083 12.99955,59.8760083 L46.99955,59.8760083 C47.5518,59.8760083 47.99955,59.4291892 47.99955,58.8780873 C47.99955,58.3269854 47.5518,57.8801663 46.99955,57.8801663 L43.99955,57.8801663 L43.99955,46.9030353 L49.99955,46.9030353 C54.4158,46.8980457 57.99455,43.326736 57.99955,38.9196674 C58.00455,37.4585863 57.6018,36.024948 56.83655,34.7792931 C58.8443,33.0733472 60.00055,30.5739293 59.99955,27.9425364 Z" id="Fill-1" fill="#C1A47A" mask="url(#mask-2)"></path> </g> </g> </g> </svg>',
				},
			],
		};
	},
	mounted() {
		this.animateAppear();
	},
	computed: {
		isMobile() {
			return window.innerWidth < 1200;
		},
	},
	methods: {
		animateAppear() {
			anime({
				targets: ".stats-container",
				opacity: [0, 1],
				translateY: [-50, 0],
				easing: "easeOutQuart",
				duration: 1000,
				delay: 1000,
				delay: function(el, i) {
					return 115 * (i + 1);
				},
			});
		},
	},
};
</script>

<style scoped lang="scss">
.statistics {
	margin-top: 50px !important;
	margin-bottom: 0 !important;
	max-width: 1200px;
	.title {
		font-size: 16px;
		margin: 18px 0 10px 0;
	}
	.distance {
		font-size: 30px;
	}
	.arrow {
		width: 100%;
		height: 5px;
	}
	.stats-container {
		margin: 50px 0;
	}
	.stats-container {
		opacity: 0;
	}
}
@media only screen and (max-width: 1000px) {
	.arrow {
		svg {
			max-width: 100%;
			height: 5px;
		}
	}
}
</style>
