<template>
	<div class="apie-esme">
		<div v-if="even || isMobile" class="row middle-xs">
			<div
				style="z-index:1"
				:style="transform"
				class="col-lg-5 col-xs-12 row middle-xs end-md center-xs img-container"
			>
				<img
					loading="lazy"
					style="margin-right: -60px;"
					:src="getImageUrl"
				/>
			</div>
			<div
				:style="{
					marginTop: !k ? '-80px' : 0,
				}"
				class="col-xs-12 col-lg layerTextContent-enclose"
			>
				<layerTextContent
					:noBg="!even"
					:title="title"
					:link="link"
					:content="content"
					:includeIcons="icons"
				/>
			</div>
		</div>
		<div v-else class="row middle-xs">
			<div class="col-xs-7">
				<layerTextContent
					style="padding-left:0; padding-right: 180px; padding-left: 50px;"
					noBg
					:title="title"
					:link="link"
					:content="content"
					:includeIcons="icons"
				/>
			</div>
			<div
				:style="transform"
				class="col-xs-5 row middle-xs end-xs img-container"
			>
				<img
					loading="lazy"
					style="margin-right: -80px;"
					:src="getImageUrl"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import layerTextContent from "./layerTextContent";

export default {
	name: "apie-esme",
	props: {
		title: {
			type: String,
		},
		image: {
			type: String,
		},
		content: {
			type: String,
		},
		link: {
			type: String,
		},
		icons: {
			type: Object,
		},
		percentInView: {
			type: Array,
		},
		k: {
			type: Number,
		},
		onTop: {
			type: Boolean,
			default: false,
		},
	},
	components: { layerTextContent },
	computed: {
		isMobile() {
			return window.innerWidth < 1200;
		},
		getImageUrl() {
			return `/storage/app/media/${this.image}`;
		},
		even() {
			return this.k % 2 == 0;
		},
		transform() {
			if (this.k % 2 == 0) {
				return {
					transform:
						"translateY(" +
						-this.percentInView[this.k] * 30 +
						"px)",
					zIndex: this.onTop && !this.isMobile ? 110 : -1,
					marginTop: this.isMobile ? "40px" : 0,
				};
			} else {
				return {
					transform:
						"translateY(" + this.percentInView[this.k] * 30 + "px)",
					zIndex: this.onTop && !this.isMobile ? 110 : -1,
				};
			}
		},
	},
};
</script>

<style scoped lang="scss">
.apie-esme {
	.img-container {
		img {
			max-width: 750px;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.apie-esme {
		.layerTextContent-enclose {
			z-index: 10000;
		}
		.img-container {
			max-height: 400px;
			margin-top: 40px;
			img {
				max-height: 450px;
				margin: 0 auto !important;
				max-width: 100%;
			}
		}
	}
}
</style>
