<template>
	<div
		:class="{
			open: mobMenuSlideIn,
			dark: dark,
		}"
		class="top-menu row col-xs-12"
	>
		<div
			style="max-width:1440px; margin: 0 auto; padding-top: 24px;"
			class="row col-xs-12 menu-menu"
		>
			<div class="col-xs row middle-xs start-xs">
				<div
					@click="call"
					class="phone-icon"
					v-html="icons['phoneWithText']"
				></div>
			</div>
			<div class="col-xs row middle-xs center-xs logo-container">
				<img
					@click="$router.push('/')"
					v-if="dark"
					src="assets/logo-dark.svg"
				/>
				<img @click="$router.push('/')" v-else src="assets/logo.svg" />
			</div>
			<div
				@click.stop.prevent="toggleMenu"
				style="z-index:1111"
				class="col-xs row middle-xs end-xs header--menu"
			>
				<div v-if="!mobMenuSlideIn" v-html="icons['menu']"></div>
				<div v-else v-html="icons['menu-close']"></div>
			</div>
		</div>
		<div
			id="top-menu"
			v-if="mobMenuSlideIn"
			class="mob-menu row middle-xs center-xs"
		>
			<div>
				<div
					@click.stop.prevent="goto(item)"
					id="top-menu-item"
					class="col-xs-12 mob-menu--item"
					:class="{
						active: `/${item.slug}` == $route.path,
					}"
					v-if="!item.hide_from_menu && item.type != 'titulinis'"
					v-for="item of $root.content"
				>
					{{ item.title }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import anime from "animejs";

export default {
	data() {
		return {
			mobMenuSlideIn: false,
			menu: [
				{
					title: "Apie esmę",
					link: "aplinka",
				},
				{
					title: "Kurie bus jūsų?",
					link: "namai",
				},
				{
					title: "Vandenyje",
					link: "vandens-sportas",
				},
				{
					title: "Gamtoje",
					link: "gamta",
				},
			],
			icons: {
				phoneWithText:
					' <svg width="113px" height="16px" viewBox="0 0 113 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Vandens-sportas" transform="translate(-32.000000, -42.000000)"> <text id="+370-616-66776" font-family="Helvetica" font-size="12" font-weight="normal" letter-spacing="0.4285714" fill="#FFFFFF"> <tspan x="53" y="51">+370 616 66776 </tspan> </text> <g id="phone-call-button" transform="translate(32.000000, 42.000000)" fill="#C1A47A"> <path d="M3.2,6.93333333 C4.44444444,9.42222222 6.57777778,11.4666667 9.06666667,12.8 L11.0222222,10.8444444 C11.288854,10.5778126 11.6444444,10.4889237 11.9111111,10.6666667 C12.8888889,11.0222222 13.9555207,11.2 15.1111111,11.2 C15.6444444,11.2 16,11.5555556 16,12.0888889 L16,15.1111111 C16,15.6444444 15.6444444,16 15.1111111,16 C6.75555556,16 0,9.24444444 0,0.888888889 C0,0.355555556 0.355555556,0 0.888888889,0 L4,0 C4.53333333,0 4.88888889,0.355555556 4.88888889,0.888888889 C4.88888889,1.95555556 5.06666667,3.02222222 5.42222222,4.08888889 C5.51111111,4.35555556 5.42222222,4.71111111 5.24444444,4.97777778 L3.2,6.93333333 Z" id="Path"></path> </g> </g> </g> </svg>',
				mouse:
					'<svg class="mouse" width="19px" height="41px" viewBox="0 0 19 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <polygon id="path-1" points="0 0 19 0 19 26 0 26"></polygon> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-710.000000, -647.000000)"> <g id="Group-3" transform="translate(710.000000, 647.000000)"> <mask id="mask-2" fill="white"> <use xlink:href="#path-1"></use> </mask> <g id="Clip-2"></g> <path d="M17.8823683,16.7916836 C17.8823683,21.2723672 14.1226142,24.9166836 9.5,24.9166836 C4.8773858,24.9166836 1.11763165,21.2723672 1.11763165,16.7916836 L1.11763165,7.04168359 C1.11763165,3.75593359 3.87485455,1.08336719 7.26468431,1.08336719 L8.94115798,1.08336719 L8.94115798,3.34968359 C8.29183877,3.57393359 7.82352633,4.16975 7.82352633,4.875 L7.82352633,8.125 C7.82352633,9.02093359 8.57568672,9.75 9.5,9.75 C10.4243133,9.75 11.1764737,9.02093359 11.1764737,8.125 L11.1764737,4.875 C11.1764737,4.16975 10.7081612,3.57393359 10.058842,3.34968359 L10.058842,1.08331641 L11.7353157,1.08331641 C15.1251455,1.08331641 17.8823683,3.75593359 17.8823683,7.04168359 L17.8823683,16.7916836 Z M9.5,4.33331641 C9.80847116,4.33331641 10.058842,4.576 10.058842,4.875 L10.058842,8.125 C10.058842,8.424 9.80847116,8.66668359 9.5,8.66668359 C9.19152884,8.66668359 8.94115798,8.424 8.94115798,8.125 L8.94115798,4.875 C8.94115798,4.576 9.19152884,4.33331641 9.5,4.33331641 Z M11.7353157,0 L7.2647367,0 C3.25906481,0 0,3.159 0,7.04168359 L0,16.7916836 C0,21.86925 4.26159607,26 9.5,26 C14.7384039,26 19,21.86925 19,16.7916836 L19,7.04168359 C19,3.159 15.7409352,0 11.7353157,0 Z" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path> </g> <g id="downwards-arrow-key" transform="translate(715.000000, 681.000000)" fill="#FFFFFF"> <polygon id="Path" points="1.05 0.65 4.5 4.19327345 7.95 0.65 9 1.72840859 4.5 6.35 0 1.72840859"></polygon> </g> </g> </g> </svg>',
				"menu-close":
					' <svg width="65px" height="16px" viewBox="0 0 65 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Meniu" transform="translate(-1337.000000, -40.000000)"> <text id="MENIU" font-family="Helvetica" font-size="12" font-weight="normal" letter-spacing="0.4285714" fill="#FFFFFF"> <tspan x="1337" y="51">MENIU</tspan> </text> <g id="close-button" transform="translate(1386.000000, 40.000000)" fill="#C1A47A"> <polygon id="Path" points="16 1.6 14.4 0 8 6.4 1.6 0 0 1.6 6.4 8 0 14.4 1.6 16 8 9.6 14.4 16 16 14.4 9.6 8"></polygon> </g> </g> </g> </svg>',
				menu:
					'<svg width="72px" height="16px" viewBox="0 0 72 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-1337.000000, -40.000000)"> <g id="menu-button" transform="translate(1386.000000, 40.000000)" fill="#C1A47A" fill-rule="nonzero"> <path d="M0,16 L23,16 L23,13.3333333 L0,13.3333333 L0,16 Z M0,9.33333333 L23,9.33333333 L23,6.66666667 L0,6.66666667 L0,9.33333333 Z M0,0 L0,2.66666667 L23,2.66666667 L23,0 L0,0 Z" id="Shape"></path> </g> <text id="MENIU" font-family="Helvetica" font-size="12" font-weight="normal" letter-spacing="0.4285714" fill="#FFFFFF"> <tspan x="1337" y="51">MENIU</tspan> </text> </g> </g> </svg>',
				phone:
					' <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-32.000000, -42.000000)" fill="#C1A47A"> <g id="phone-call-button" transform="translate(32.000000, 42.000000)"> <path d="M3.2,6.93333333 C4.44444444,9.42222222 6.57777778,11.4666667 9.06666667,12.8 L11.0222222,10.8444444 C11.288854,10.5778126 11.6444444,10.4889237 11.9111111,10.6666667 C12.8888889,11.0222222 13.9555207,11.2 15.1111111,11.2 C15.6444444,11.2 16,11.5555556 16,12.0888889 L16,15.1111111 C16,15.6444444 15.6444444,16 15.1111111,16 C6.75555556,16 0,9.24444444 0,0.888888889 C0,0.355555556 0.355555556,0 0.888888889,0 L4,0 C4.53333333,0 4.88888889,0.355555556 4.88888889,0.888888889 C4.88888889,1.95555556 5.06666667,3.02222222 5.42222222,4.08888889 C5.51111111,4.35555556 5.42222222,4.71111111 5.24444444,4.97777778 L3.2,6.93333333 Z" id="Path"></path> </g> </g> </g> </svg>',
			},
		};
	},
	props: {
		dark: {
			type: Boolean,
			default: false,
		},
	},
	mounted() {
		const self = this;
		eventHub.$on("close", function() {
			if (self.mobMenuSlideIn) {
				self.toggleMenu();
			}
		});
	},
	beforeDestroy() {
		eventHub.$off("close");
	},
	methods: {
		call() {
			window.open("tel:+37061666776", "_blank");
		},
		goto(item) {
			this.$router.push({ path: `/${item.slug}` });
		},
		toggleMenu() {
			let shown = false;
			if (!this.mobMenuSlideIn) {
				this.mobMenuSlideIn = !this.mobMenuSlideIn;
				shown = true;
			}
			const self = this;
			setTimeout(function() {
				anime({
					targets: ".mob-menu",
					opacity: shown ? [0, 1] : [1, 0],
					translateX: shown ? [1000, 0] : [0, 1000],
					easing: "easeOutSine",
					elasticity: 5000,
					duration: 200,
					complete() {
						if (!shown) self.mobMenuSlideIn = false;
					},
				});
				anime({
					targets: ".mob-menu--item",
					opacity: [0, 1],
					translateX: [150, 0],
					easing: "spring(1, 80, 10, 0)",
					duration: 600,
					delay: function(el, i) {
						return i * 50;
					},
				});
			}, 100);
		},
	},
};
</script>

<style lang="scss">
.top-menu {
	&.dark {
		svg {
			text {
				fill: #30475e;
			}
		}
		&.open {
			.header--menu {
				svg {
					text {
						fill: #fff;
					}
				}
			}
		}
	}
}
.header--menu {
	z-index: 1111;
}
.logo-container {
	img {
		cursor: pointer;
	}
}
.mob-menu {
	opacity: 0;
	z-index: 1001;
	position: fixed;
	right: 0;
	width: 50%;
	max-width: 1000px;
	background: #30475e;
	height: 100vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	&--item {
		margin: 20px 0;
		font-size: 30px;
		cursor: pointer;
		opacity: 0;
		color: #fff;
		&.active {
			color: #c1a47a;
		}
		&:hover {
			color: #c1a47a;
		}
	}
}

@media only screen and (max-width: 800px) {
	.phone-icon text {
		display: none;
	}
	.menu-menu {
		padding: 16px 20px !important;
	}
	.mob-menu {
		width: 100%;
		&--item {
			font-size: 18px;
		}
	}
	.header--menu {
		svg {
			text {
				display: none;
			}
		}
	}
}
</style>
