<template>
  <div id="app">
    <div style="width:100vw" @click="close">
      <vue-page-transition name="overlay-right-full">
        <router-view :key="$route.fullPath" />
      </vue-page-transition>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
const axios = require("axios");
import routes from "./routes.js";
import VueRouter from "vue-router";
import VuePageTransition from "vue-page-transition";

Vue.use(VuePageTransition);
Vue.use(VueRouter);

const router = new VueRouter({
  mode: "history",
  routes,
  linkActiveClass: "active",
});
import titulinis from "./titulinis";

export default {
  name: "App",
  router,
  components: { titulinis },
  data() {
    return {
      content: null,
    };
  },
  mounted() {},
  methods: {
    close(ev) {
      if (ev.target.id != "top-menu-item" && ev.target.id != "top-menu") {
      }
      eventHub.$emit("close");
    },
  },
  watch: {
    $route(to, from) {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="scss">
@import url("flexboxgrid.css");

@font-face {
  font-family: Coconat-Regular;
  src: url(fonts/Coconat-Regular.woff2) format("woff2"),
    url(fonts/Coconat-Regular.woff) format("woff");
}
@font-face {
  font-family: Coconat-BoldExt;
  src: url(fonts/Coconat-BoldExt.woff2) format("woff2"),
    url(fonts/Coconat-BoldExt.woff) format("woff");
}
.overlay-left,
.overlay-right,
.overlay-top,
.overlay-bottom {
  background: #30475e !important;
  z-index: 100000000;
}
body {
  margin: 0;
}
html {
  background-color: #ececec;
}
a {
  text-decoration: none;
  color: #c1a47a;
}
.white {
  svg {
    stroke: #fff !important;
    g {
      fill: #fff !important;
    }
  }
}

::placeholder {
  color: #30475e;
}
#app {
  font-family: Coconat-Regular, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #30475e;
}
.bg-element {
  width: 150%;
  img {
    width: 100%;
  }
}
.img-container,
.image-enclose {
  transition: all 0.6s ease;
}
.layer {
  margin-top: 50px !important;
  max-width: 1380px;
}
.container {
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}
@media only screen and (max-width: 1000px) {
  .layer {
    margin: 0 !important;
  }
  .phone-icon {
    svg {
      width: 90px !important;
    }
  }
  .logo-container {
    img {
      width: 100%;
    }
  }
  .row {
    padding: 0;
  }
}
</style>
