<template>
  <div v-if="content" class="namai">
    <mainHeader
      v-if="content.cover_image"
      @mouse-clicked="scrollToMainContent"
      :title="content.inner_title"
      :imagesUrl="content.cover_image"
    />
    <div v-else>
      <topMenu dark />
      <div class="bg-element row col-xs-12 middle-xs center-xs">
        <img src="/assets/bg.svg" />
      </div>
      <div
        :style="{
          marginBottom: content.type == 'text' ? '50px' : '20px',
        }"
        class="row col-xs-12 center-xs main-title"
      >
        {{ content.inner_title || content.title }}
      </div>
    </div>

    <div
      v-if="content && content.inner_description"
      class="wave"
      v-html="icons['wave']"
    ></div>
    <div
      v-if="content && content.inner_description"
      class="row col-xs-8 center-xs main-description"
    >
      {{ content.inner_description }}
    </div>

    <div v-if="content.widget == 'location'" class="lokacija row layer">
      <div class="col-md-6 col-xs-12">
        <img style="max-width: 100%" src="/assets/lokacija.png" />
      </div>
      <div class="col-md-6 col-xs-12 start-xs namai--content">
        <div class="namai--title">Lokacija</div>
        <div style="margin: 10px 0 25px 0" v-html="icons['wave']"></div>
        <div class="namai--description">
          Į paprastus namus grįžtame automobiliu. Į šiuos irgi galite, bet…
          galite ir parplaukti jachta. Pakeliui mojuodami laukinei Mažosios
          Lietuvos gamtai ir dėkodami protėviams už su niekuo nesupainiojamą
          Kuršių marių dvasią. Ir tai vos 34 kilometrai nuo Klaipėdos, kur yra
          viskas, ko jums galbūt prireiks. Bet ar tikrai?
        </div>
        <div class="explainer">
          <div class="col-xs-12 row explainer--item" style="padding:0">
            <div v-html="icons['square1']"></div>
            <div class="explainer--text">Marių panoramos</div>
          </div>
          <div class="col-xs-12 row explainer--item" style="padding:0">
            <div v-html="icons['square2']"></div>
            <div class="explainer--text">Kuršių marios</div>
          </div>
        </div>
      </div>
    </div>

    <statistics v-if="content.widget == 'statistics'" />
    <div v-if="content.type == 'text'">
      <div
        style="margin:0 auto"
        class="row start-xs col-lg-8 col-xs-11"
        v-html="content.text"
      ></div>
    </div>
    <div class="layers-container" v-else v-for="(item, k) of content.content">
      <planas
        v-if="item.type == 'gallery'"
        :id="`planas-${k}`"
        :right="k % 2 != 0"
        :images="item.images"
        :text="item.title"
        :description="item.text"
        :file="item.file"
      />
      <sportas
        v-else
        :id="k"
        :k="k"
        :coverImage="content.cover_image"
        :type="item.image_text_type"
        :title="item.title"
        :content="item.text"
        :imageOnTop="item.image_on_top === '1'"
        :percentInView="percentInView"
        :image="item.image"
        v-view="viewHandler"
        class="layer container"
      />
    </div>
    <contacts
      v-view="contactViewHandler"
      :contactView="contactView"
      class="layer"
    />
    <footerBlock class="layer" style="margin-bottom:50px;" />
  </div>
</template>

<script>
import Vue from "vue";
import anime from "animejs";
import topMenu from "./components/topMenu";
import planas from "./components/planas";
import sportas from "./components/sportas";
import contacts from "./components/contacts";
import footerBlock from "./components/footer";
import statistics from "./components/statistics";
import mainHeader from "./components/mainHeader";
import checkView from "vue-check-view";
Vue.use(checkView);

export default {
  name: "titulinis",
  props: {},
  data() {
    return {
      content: null,
      percentInView: [],
      contactView: null,
      icons: {
        square1:
          '<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Namai-" transform="translate(-846.000000, -694.000000)" fill="#C1A47A"> <rect id="Rectangle" x="846" y="694" width="12" height="12"></rect> </g> </g> </svg>',
        square2:
          ' <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Namai-" transform="translate(-846.000000, -720.000000)" fill="#9ECAD3"> <rect id="Rectangle-Copy-19" x="846" y="720" width="12" height="12"></rect> </g> </g> </svg>',
        wave:
          '<svg width="67px" height="9px" viewBox="0 0 67 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Titulinis" transform="translate(-740.000000, -882.000000)" fill="#C1A47A"> <path d="M807,891 L805.721374,891 C802.292099,891 799.288351,889.207397 797.666031,886.542904 C796.04371,889.207397 793.039962,891 789.610687,891 C786.181412,891 783.177664,889.207397 781.555344,886.542904 C779.933023,889.207397 776.929275,891 773.5,891 C770.070725,891 767.066977,889.207397 765.444656,886.542904 C763.822336,889.207397 760.818588,891 757.389313,891 C753.960038,891 750.95629,889.207397 749.333969,886.542904 C747.711649,889.207397 744.707901,891 741.278626,891 L740,891 L740,888.534247 L741.278626,888.534247 C745.015282,888.534247 748.055344,885.602959 748.055344,882 L750.612595,882 C750.612595,885.602959 753.652656,888.534247 757.389313,888.534247 C761.125969,888.534247 764.166031,885.602959 764.166031,882 L766.723282,882 C766.723282,885.602959 769.763344,888.534247 773.5,888.534247 C777.236656,888.534247 780.276718,885.602959 780.276718,882 L782.833969,882 C782.833969,885.602959 785.874031,888.534247 789.610687,888.534247 C793.347344,888.534247 796.387405,885.602959 796.387405,882 L798.944656,882 C798.944656,885.602959 801.984718,888.534247 805.721374,888.534247 L807,888.534247 L807,891 Z" id="Fill-17-Copy"></path> </g> </g> </svg>',
      },
    };
  },
  components: {
    topMenu,
    contacts,
    footerBlock,
    mainHeader,
    statistics,
    sportas,
    planas,
  },
  mounted() {
    const self = this;
    this.getContent();
    setTimeout(function() {
      self.textAppear();
    }, 100);
    eventHub.$on("info-loaded", function() {
      self.getContent();
      setTimeout(function() {
        self.textAppear();
      }, 100);
    });
  },
  methods: {
    scrollToMainContent() {
      this.animateScroll();
    },
    contactViewHandler(ev) {
      this.contactView = ev.percentInView;
    },
    viewHandler(ev) {
      this.$set(this.percentInView, ev.target.element.id, ev.percentCenter);
    },
    animateScroll(margin = 80) {
      const element = document.getElementById("0");
      const coord = element.getBoundingClientRect();
      if (!coord) return;
      window.scrollBy({
        top: coord.top - margin,
        left: 0,
        behavior: "smooth",
      });
    },
    textAppear() {
      anime({
        targets: ".main-title",
        opacity: [0, 1],
        translateY: [-50, 0],
        easing: "easeOutSine",
        delay: 1000,
        duration: 1000,
      });
      anime({
        targets: ".wave",
        opacity: [0, 1],
        scale: [0, 1],
        easing: "easeOutSine",
        delay: 1000,
        duration: 1000,
      });
      anime({
        targets: ".main-description",
        opacity: [0, 1],
        translateY: [50, 0],
        easing: "easeOutSine",
        delay: 1100,
        duration: 1000,
      });
    },
    getContent() {
      if (!this.$root.content) return;
      const content = this.$root.content.find(
        (element) => `/${element.slug}` == this.$route.params.pathMatch
      );
      if (!content) this.$router.push({ path: "/" });
      this.content = content;
    },
  },
};
</script>

<style scoped lang="scss">
.lokacija {
  padding-bottom: 100px;
  padding-top: 150px;
}
.namai {
  .main-title {
    margin: 100px 0;
    margin-bottom: 20px;
    opacity: 0;
  }
  .layers-container {
    margin: 0 auto;
  }
  .main-description {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
    opacity: 0;
  }
  .wave {
    opacity: 0;
  }
  &--title {
    font-size: 36px;
  }
  &--description {
    font-size: 16px;
    line-height: 24px;
  }
  &--content {
    padding: 20px 80px;
  }
  .layer {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .main-title {
    font-size: 48px;
  }
  .explainer {
    margin-top: 30px;
    &--item {
      margin: 5px 0;
    }
    &--text {
      margin-left: 5px;
    }
  }
  .bg-element {
    position: absolute;
    top: 250%;
    z-index: -1;
  }
}
@media only screen and (max-width: 1200px) {
  .namai {
    &--content {
      padding: 20px 20px;
    }
    .layers-container {
      padding-top: 10px;
    }
    .main-title {
      font-size: 30px;
      padding: 0 30px;
      margin: 50px 0;
    }
    .main-description {
      font-size: 16px;
      line-height: 24px;
    }
    .wave {
      opacity: 0;
    }
    &--title {
    }
    &--description {
    }
  }
}
</style>
