<template>
  <div class="titulinis">
    <div class="bg-element row col-xs-12 middle-xs center-xs">
      <img src="/assets/bg.svg" />
    </div>
    <mainHeader
      v-if="content"
      @mouse-clicked="scrollToMainContent"
      :title="content.title"
      :imagesUrl="content.cover_image"
    />
    <titulinioLayer
      :title="layer.title"
      :link="layer.slug"
      :content="layer.description"
      :image="layer.thumbnail_image"
      :icons="layer.icons"
      :onTop="layer.thumbnail_image_on_top"
      v-view="viewHandler"
      :percentInView="percentInView"
      v-for="(layer, k) of $root.content"
      v-if="!layer.hide_from_menu && layer.type != 'titulinis'"
      :id="k"
      :k="k"
      class="layer container"
    />
    <contacts
      v-view="contactViewHandler"
      :contactView="contactView"
      class="container"
    />
    <footerBlock class="layer container" style="margin-bottom:50px;" />
  </div>
</template>

<script>
import Vue from "vue";
import checkView from "vue-check-view";
import mainHeader from "./components/mainHeader";
import titulinioLayer from "./components/titulinioLayer";
import contacts from "./components/contacts";
import footerBlock from "./components/footer";
Vue.use(checkView);

export default {
  name: "titulinis",
  props: {},
  data() {
    return {
      contactView: null,
      content: null,
      percentInView: [],
      icons: {
        bg: "",
      },
    };
  },
  components: {
    mainHeader,
    titulinioLayer,
    contacts,
    footerBlock,
  },
  mounted() {
    const self = this;
    this.getContent();
    eventHub.$on("info-loaded", function() {
      self.getContent();
    });
  },
  computed: {},
  methods: {
    getContent() {
      if (!this.$root.content) return;
      const content = this.$root.content.find(
        (element) => element.type == "titulinis"
      );
      console.log(content);
      this.content = content;
    },
    contactViewHandler(ev) {
      this.contactView = ev.percentInView;
    },
    scrollToMainContent() {
      this.animateScroll();
    },
    animateScroll(margin = 80) {
      const element = document.getElementById("0");
      const coord = element.getBoundingClientRect();
      if (!coord) return;
      window.scrollBy({
        top: coord.top - margin,
        left: 0,
        behavior: "smooth",
      });
    },
    viewHandler(ev) {
      this.$set(this.percentInView, ev.target.element.id, ev.percentCenter);
    },
  },
};
</script>

<style scoped lang="scss">
.titulinis {
  overflow: hidden;
  .layer {
    margin: 0 auto !important;
    margin-bottom: 150px;
  }
  .bg-element {
    position: absolute;
    top: 150%;
    z-index: -1;
  }
}
@media only screen and (max-width: 1200px) {
}
</style>
